---
title: Configure a Single Sign-On Service Provider
owner: Identity Service
---

This topic describes how to add an external identity provider to your Pivotal Single Sign-On (SSO) service plan.

##<a id='configure-metadata'></a> Configure Identity Provider Metadata

Edit the Identity Provider Metadata file you downloaded, named `federationmetadata.xml`.

1. Find and remove the two `RoleDescriptor` elements from the metadata:
	
	1. `<RoleDescriptor xmlns:fed="http://docs.oasis-open.org/wsfed/federation/200706" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="fed:ApplicationServiceType" protocolSupportEnumeration="http://docs.oasis-open.org/wsfed/federation/200706">`
			
	2. `<RoleDescriptor xmlns:fed="http://docs.oasis-open.org/wsfed/federation/200706" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="fed:SecurityTokenServiceType" protocolSupportEnumeration="http://docs.oasis-open.org/wsfed/federation/200706">`
	

2. The Single Sign-On service requires that the Name ID Format is specified. Replace the following text: `<SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://login.microsoftonline.com/025c050a-9f19-4074-882f-4b522871e8c3/saml2" />` with: `<SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://login.microsoftonline.com/025c050a-9f19-4074-882f-4b522871e8c3/saml2" />
      <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</NameIDFormat>`
	  
3. The Single Sign-On service does not support DOS file format imports. Convert the file in one of the following ways:
	- Option 1: Execute `dos2unix` on the metadata file.
	- Option 2: Create a Unix file, then copy and paste the contents from the downloaded metadata file to the newly created file.

##<a id='set-up-saml'></a> Setting up SAML 

1. Log into the SSO dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` as a Plan Administrator. 

2. Select your plan and click **Manage Identity Providers** on the dropdown menu.

	<%= image_tag '../images/azure_manage_id_providers.png' %>

3. Click **New Identity Provider** to create a new identity provider.

	<%= image_tag '../images/new_id_provider.png' %>

2. To create a new identity provider, perform the following steps:
	1. Enter an identity provider name into **Identity Provider Name**.
	2. (Optional) Enter a description into **Identity Provider Description**.
	3. Click **SAML File Metadata (optional)** followed by clicking the **Upload Identity Provider Metadata** button to upload your metadata XML.
	4. (Optional) Under **Advanced SAML Settings**, click **Attribute Mappings** to enter the mappings.

1. Click **Create Identity Provider**.

##<a id='config-permissions'></a> Configure Group Permissions

1. Add groups to be propagated from the external identity provider to the ID token by following these steps:
	1. Log into the SSO dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` as a Plan Administrator. 
	2. Select your plan and click **Manage Identity Providers** on the dropdown menu.
	3. Click **Group Whitelist** next to your identity provider.
	4. Enter the group names.
	5. Click **Save Group Whitelist**.

2. Map the groups to resources defined in the SSO service by following these steps:
	1. Log into the SSO dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` as a Plan Administrator. 
	2. Select your plan and click **Manage Identity Providers** on the dropdown menu.
	3. Click **Resource Permissions**.
	4. Click **New Permissions Mapping** and perform the following steps:
    	1. Enter a **Group Name**.
    	2. For **Select Permissions**, select the permissions that the members of the group from the external identity provider should have access to.
		3. Click **Save Permissions Mapping**.
