---
title: Azure Active Directory Integration Guide Overview
owner: Identity Service
---

Azure Active Directory (Azure AD) is Microsoft's multi-tenant cloud based directory and identity management service. This documentation describes how to configure a single sign-on partnership between Azure AD as the Identity Provider (IdP) and the Single Sign-On Service (SSO) for Pivotal Cloud Foundry&reg; as the Service Provider (SP). 

SSO supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All SSO communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate Azure AD with Pivotal Cloud Foundry&reg; (PCF), you need:

<strong>Pivotal</strong> 

- PCF, version 1.7.0 or later.

- Single Sign-On, version 1.1.0 or later.

<strong>Azure Active Directory</strong>

- Azure Active Directory subscription.

- A user with admin privileges. 

<p class="note"><strong>Note</strong>: To configure SAML, you must <%=vars.sso_plan_enabled%></p>

## <a id='azure'></a> Azure AD Integration Guide

### Configuring Azure AD with SSO 
Complete both steps below to integrate your deployment with Azure AD and SSO.

1. <a href="config-azure.html" class="subnav">Configure Azure AD as an Identity Provider</a>

1. <a href="config-sso.html" class="subnav">Configure a Single Sign-On Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html" class="subnav">Testing</a>

* <a href="troubleshooting.html" class="subnav">Troubleshooting</a>
