---
title: Testing
owner: Identity Service
---

This topic tells you how an administrator can test the connection between <%= vars.product_full %>
and Microsoft Entra ID. An administrator can test both service provider and identity
provider connections.

<%=vars.test_with_sample_apps%>

## <a id="ad"></a>Test Your Configurations in Microsoft Entra ID

1. Log in to Microsoft Entra ID at https://portal.azure.com/.

1. Navigate to **Azure Active Directory** (Microsoft Entra ID) > **Enterprise Applications**.

1. Select your app and navigate to **Single Sign-on** > **Test SAML settings**.

1. Select the user that you want to log in as.

    If you have set up all configuration correctly, you should see something like the images below. Otherwise, you should see some meaningful error message.

    ![The Test single sign-on new_test page with two buttons, "Sign in as current user" and "Sign in as someone else".](../images/azure-test-saml-settings.png)

    ![The Token Claims drop down label is expanded showing a table with two columns, Name and Value. There are four entries in the table.](../images/azure-token-claims.png)

## <a id="service-provider"></a>Test Your Service Provider Connection

1. Log in to Apps Manager at `https://apps.SYSTEM-DOMAIN` and navigate to the org and space where your application is located.

2. Under **Services**, locate the service instance of the <%= vars.product_short %> plan bound to your app. Click on the service instance and click **Manage**.

    ![Screenshot of overview tab in Apps Manager. Under the Services section, the
    button for the Single Sign-On service is highlighted.](../images/click_service.png)

    ![Screenshot of the Single Sign-On service screen in Apps Manager.
    Below the title, the manage link is highlighted.](../images/azure_click_manage.png)

1. Under the **Apps** tab, click your app.

    ![Screenshot of the Apps tab in Apps Manager showing a tile for the authcode-sample app.](../images/azure_select_authcode_app_tile.png)

1. Under **Identity Providers**, select the Microsoft Entra ID identity provider.

    ![Screenshot of the app configuration screen. The Azure PCF SSO button in the Identity Providers section is highlighted.](../images/click_azure_pcf.png)

1. Return to Apps Manager and click on the URL below your app to be redirected to the identity provider to authenticate.

    ![Screenshot of overview tab in Apps Manager. Under the Apps section, the URL in the Route column of table is highlighted](../images/authcode_sample_address.png)

1. Click the link.

    ![A browser window with the authcode sample web app showing. The app has a link at the bottom of the web page with the text "Log in via Auth Code Grant Type"](../images/authcode_sample.png)

1. On the identity provider sign-in page, enter your credentials and click **Sign In**.

    ![Screenshot of the Microsoft Azure sign-in page with fields to enter an email address or phone number and password. Below are "Sign in" and "Back" buttons.](../images/azure_sign_in.png)

1. The app asks for authorization to the necessary scopes. Click **Authorize**.

    ![Screenshot of the Application Authorization page for the authcode sample app. There are check boxes for two scopes: openid and Read TODO list. Both checkboxes are selected. At the bottom of the page, there are buttons for Deny and Authorize.](../images/popup_authcode.png)

1. The access token and ID token displays.

    ![Screenshot of a page showing JSON for the result of calling /userinfo, the access token that was used, and the ID token. At the bottom of the page there are links for TODO list, See your account profile, and Log out.](../images/azure_authcode_sample_code.png)

## <a id="identity-provider"></a>Test Your Identity Provider Connection

<p class="note"><span class="note__title">Note</span> <%= vars.product_short %> does not support identity provider-initiated flow into applications, but it does redirect the user to the User Account and Authentication (UAA) page to select apps assigned to the user.</p>

1. Sign in to Microsoft Entra ID.

    ![Screenshot of the Microsoft Azure sign-in page with fields to enter an email address or phone number and password. Below are "Sign in" and "Back" buttons.](../images/azure_sign_in.png)

1. Navigate to your app and click it.

1. You are redirected to the page that lists apps you have access to.

    ![Screenshot of Apps Manager apps tab with tiles for three apps shown.](../images/app_list.png)

## <a id="sso"></a>Test Your Single Sign-Off

Test single sign-off to ensure that when users log out of the application, they are logged out of Microsoft Entra ID as well.

1. Sign into the sample app. Information about the access and ID token displays, as well as the “What do you want to do?” section.
1. Under "What do you want to do?", click **Log out**.

    ![Link in the What do you want to do section. There are links for TODO list, See your account profile, and Log out.](../images/what_do_you_want.png)

1. You are logged out and redirected to the Microsoft Entra ID login page.

    ![Screenshot of the Microsoft Azure sign-in page with fields to enter an email address or phone number and password. Below are "Sign in" and "Back" buttons.](../images/azure_sign_in.png)
