---
title: Administering Pivotal Single Sign-On
---

_Pivotal Single Sign-On requires Pivotal Cloud Foundry version 1.5 or greater_.

  1. Download the Pivotal Single Sign-On product tile from [Pivotal Network](https://network.pivotal.io).
  1. Upload the product tile to your Ops Manager installation. See [Adding and Deleting Products](http://docs.pivotal.io/pivotalcf/customizing/add-delete.html).
  1. Click **Add** next to the uploaded product description in the Available Products view to add this product to your staging area.
  1. Click **Apply Changes** to deploy the service.

## <a id='plan-management'></a>Manage Service Plans

To create a new service plan:

  1. Navigate to the Plan Administration User Interface at `https://p-identity.YOUR-SYSTEM-DOMAIN`.
  1. Log in with your administrator credentials.
  1. Click **New Plan**.
  1. Enter a **Plan Name**. This plan name appears in the Apps Manager Console Services Marketplace.
  1. Enter a **Description**. This appears as one of the plan features in the Services Marketplace.
  1. Enter an **Auth Domain**. Applications on this plan use this auth domain for their access URI.
    <p class="note"><strong>Note</strong>: You cannot edit the auth domain later.</p>
  1. Enter an **Instance Name**. The instance name appears on the login page and in other user-facing content, such as email communications.
  1. Select the orgs in which you want the plan to be visible. If you do not select any orgs, that plan will be completely hidden in the Services Marketplace.

The Plan Administrator User Interface lists all the defined plans. Select a plan name to edit that plan.

## <a id='instance-management'></a>Manage Service Instances

Service instances are created based on the service plan and are visible within the confines of a space. 

To create a new service instance:

  1. Log in to your Apps Manager instance at `https://console.YOUR-SYSTEM-DOMAIN` as a Space Developer.
  1. Navigate to the Marketplace and select **Pivotal Single Sign-On**.
  1. Select your service plan.
  1. Enter an **Instance Name**.
  1. Choose a space for the instance from the **Add to Space** dropdown menu. The default is 'development'.
  1. Choose an application to bind the service instance to from the **Bind to App** dropdown menu. This option defaults to [do not bind].

## <a id='user-store-management'></a>Manage User Stores

Follow the steps below to integrate an external user store with SAML:

  1. Log in to your Apps Manager instance at `https://console.YOUR-SYSTEM-DOMAIN` as a Space Developer.
  1. Select a space from the left navigation.
  1. Click the **Manage** link under the Pivotal Single Sign-On service instance to launch the Pivotal Single Sign-On service dashboard, which displays with the instance name configured in the previous step.
  1. Click **User Stores** in the top right corner.
  1. Click **New User Store**.
  1. Enter a **User Store Name**. This is visible on the application login page if more than one Identity Provider is associated with an application.
  1. Supply the SAML Identity Provider metadata in one of the following ways:
    * Provide the metadata URL and click **Fetch Metadata**.
    * Click **Upload Identity Provider Metadata** to upload the XML metadata.
    See [Configuring Single Sign-On](../pivotalcf/opsguide/sso.html#configure-identity-provider) for more information about configuring your identity provider.

After you complete the steps above, the Entity ID, SSO URL, and NameID of your new user store should be visible.

## <a id='app-managemnet'></a>Manage Applications

Bind an application with the Pivotal Single Sign-On service:

  1. Log in as a user with the role of a Space Developer.
  1. Select the space that contains your application.
  1. Click the **Manage** link under the Pivotal Single Sign-On service instance to launch the service dashboard.
  1. Click **New App**.
  1. Enter an **App Name**.
  1. Select an **Application Type**. Refer to [Choosing an Application Type for Pivotal Single Sign-On](./app-type.html) to determine the application type you should choose.
  1. User Store Connections defaults to `Internal User Store`, but you can choose to use one or more SAML User Store Connections. This option governs the users who are allowed to authenticate to the application.
    <p class="note"><strong>Note</strong>: This option is available for all application types except the Service-to-Service App.
  1. If your **Application Type** is 'Web App', enter a whitelist of valid **Auth Redirect URIs** beneath **Redirect URIs**. The redirect query parameter specified on the OAuth request must match the URIs specified in this list. Otherwise, the Pivotal Single Sign-On service rejects the request.
  1. Enter the **Scopes** that this application can request. This field defaults to `openid`. Scopes are permissions that the application requests on the user’s behalf.  If this application is purely for authentication purposes, then the 'openid' scope is sufficient. If the application makes API calls on behalf of the end user, you must specify both the scopes enforced by the API and the scopes to be requested by the application.
  1. Select scopes pertaining to company owned and managed applications as **Auto-Approved Scopes**. All defined scopes in the **Scopes** field are available for selection as **Auto-Approved Scopes**. Scopes selected as Auto-Approved do not require explicit authorization from the end user. To determine whether a scope should be 'Auto-Approved', decide whether the application you are binding is trusted. Company owned and managed applications fall under this category. Scopes that pertain to permission or actions on resources from applications external to PCF are not candidates for auto-approval.
  1. After you click **Create App**, the **Next Steps** view displays. These steps describe the important endpoints required for application integration. Refer to the [Application Integration](#app-integration) section for more details.

## <a id='app-integration'></a>Application Integration

The Pivotal Single Sign-On service is based on the OAuth protocol. Ensure that the applications you intend to secure with Pivotal Single Sign-On are OAuth aware.

Java-based sample applications, created using [Spring Boot](https://projects.spring.io/spring-boot/), are available for all four application types. You can find information on how to configure and run these sample applications [here](https://github.com/pivotal-cf/identity-sample-apps).

Provide the following information to your application:

  * Application ID, also known as OAuth Client ID
  * Application Secret, also known as OAuth Client Secret
  * Access Token URI:  `ID Service URL from Next Steps/oauth/token`
  * Authorization URI:  `ID Service URL from Next Steps/oauth/authorize`

  <p class="note"><strong>Note</strong>: The **Application ID** and **Application Secret** are both available on the Next Steps page of the Pivotal Single Sign-On service dashboard.

Validation of the token requires that you verify the following:

  1. The token is a properly signed JSON Web Token with an appropriate Public Key. The key can be downloaded from ` https://login.YOUR-SYSTEM-DOMAIN/token_key`.
  1. The value of <code>aud</code> in the token matches your Application ID. 
  1. The value of <code>iss</code> matches `https://AUTH-DOMAIN.uaa.YOUR-SYSTEM-DOMAIN/oauth/token`.
  1. The expiry time (<code>exp</code>) of the token has not passed.

Example token:

<pre>
{
  "jti" : "a9e02776-aa00-441e-a09b-fd57219b0bf5",
  "sub" : "bbd4996b-4e92-4bbe-aeab-1d5da6cf0ac9",
  "scope" : [ "openid" ],
  "client_id" : "1ace0c4c-bcfc-4a77-ba93-10fd845f7e89",
  "cid" : "1ace0c4c-bcfc-4a77-ba93-10fd845f7e89",
  "azp" : "1ace0c4c-bcfc-4a77-ba93-10fd845f7e89",
  "grant_type" : "password",
  "user_id" : "bbd4996b-4e92-4bbe-aeab-1d5da6cf0ac9",
  "user_name" : "test@abc.com",
  "email" : "test@abc..com",
  "iat" : 1434145304,
  <b>"exp" : 1434188504</b>,
  <b>"iss" : "https://abc.uaa.cf.com/oauth/token"</b>,
  "zid" : "7072036e-f689-47ac-a1a2-e72e86f7e781",
  <b>"aud" : [ "1ace0c4c-bcfc-4a77-ba93-10fd845f7e89", "openid" ]</b>
}
</pre>
