---
title: Choosing an Application Type
owner: Identity
---

The **Application Type** you select in the Pivotal Single Sign-On dashboard depends on the type of application and the type of user your application authenticates.

* If your application is authenticating end users, refer to the table below. Find your application type in the first column to determine which **Application Type** to select in the Pivotal SSO dashboard.

    <table border="1" class="nice" >
      <tr>
        <th><strong>APPLICATION TYPE</strong></th>
        <th><strong>PIVOTAL SSO APPLICATION TYPE</strong></th>
        <th><strong>OAUTH GRANT TYPE EQUIVALENT</strong></th>
      </tr>
      <tr>
        <td>Web</td>
        <td>Web App</td>
        <td>Authorization code</td>
      </tr>
      <tr>
        <td>Native Mobile, Desktop, or Command Line</td>
        <td>Native Mobile App</td>
        <td>Resource Owner Password</td>
      </tr>
      <tr>
        <td>Single Page JavaScript</td>
        <td>Single Page JavaScript App</td>
        <td>Implicit</td>
      </tr>
    </table>

    <p class="note"><strong>Note</strong>: The <strong>Native Mobile App</strong> application type is intended only for highly trusted applications such as company owned and managed applications.

* If your application is trying to access other services or APIs on its own behalf rather than on the user’s behalf, the application must authenticate itself using the Single Sign-On service. Choose the <strong>Service-to-Service App</strong> type. This corresponds to the "Client Credentials" grant type in OAuth.

