---
title: Common Architecture Patterns
owner: Identity Service
---

## <a id='external'></a> External App Calling In To PCF APIs

## <a id='saml-exchange'></a> SAML Bearer Token Exchange Sequence

## <a id='jwt-exchange'></a> With JWT Exchange
