---
title: Configuring Internal User Store
owner: Identity Service
---

This topic describes how Pivotal Cloud Foundry (PCF) admins configure a
Single Sign-On (SSO) service plan to manage user access to PCF apps with the internal user store.

## <a id='overview'></a> Overview

By default, each SSO service plan comes with an internal user store,
which stores user accounts natively in User Account and Authentication (UAA).

You can manage the internal user store in the following ways:

+ [Configure the Internal User Store](#config-int-store)
+ [Add Internal Users From the Command Line](#add-to-int)
+ [Define Password Policy for the Internal User Store](#passwd-policy)
+ [Test Identity Provider Configurations](#testing-identity-provider-configurations)

You can also configure a SSO service plan to use an external identity provider to
manage user accounts.
For more information, see [Configuring External Identity Providers](./configure-external-id.html).

## <a id='config-int-store'></a> Configure the Internal User Store

To configure the internal user store:

1. Log in to the **Single Sign-On Operator Dashboard** at
`https://p-identity.YOUR-SYSTEM-DOMAIN` using your User Account and Authentication (UAA) admin credentials.
Find these credentials in your Pivotal Application Service (PAS) tile in Ops Manager under the **Credentials** tab.

1. Click the plan name and select **Manage Identity Providers** from the dropdown.

	<%= image_tag("images/manage-id-providers.png", :alt => "Plan dropdown in the Operator Dashboard") %>

1. Click **Internal User Store** and select **Edit Provider** from the dropdown.

	<%= image_tag("images/edit-provider.png", :alt => "Internal User Store dropdown in the Operator Dashboard") %>

1. (Optional) Under **Authentication Policy** select one of the following:
	- **Disable Internal Authentication**: This option prevents authentication against the internal user store.
	You must have at least one external identity provider configured.
	<p class="note"><strong>Note:</strong> The login page does not include the <strong>Email</strong>
		and <strong>Password</strong> fields if you select this option.</p>
	- **Disable User Management**: This option prevents all users, including admins,
	from performing actions on internal users.
	<p class="note"><strong>Note:</strong> The login page does not include <strong>Create Account</strong>
		and <strong>Reset Password</strong> links if you select this option.</p>

	<%= image_tag("images/configure-internal-us.png", :alt => "Internal User Store configuration screen in the Operator Dashboard") %>

1. Under **Password Policy Settings**, select **Use Recommended Settings**, **Use Default Settings**,
or enter custom settings in the **Password Complexity** and **Lockout Policy** fields. See descriptions of the fields in the table below.

	| Field              | Description                                                               |
	|--------------------|---------------------------------------------------------------------------|
	| Min Length         | The minimum number of characters required                                 |
	| Uppercase          | The minimum number of uppercase letters required                          |
	| Special Characters | The minimum number of special characters required                         |
	| Lowercase          | The minimum number of lowercase letters required                          |
	| Numerals           | The minimum number of numeric characters required                         |
	| Failures Allowed   | The maximum failed attempts to enter the password before being locked out |
	| Lockout Period     | The number of seconds that a lockout period lasts                         |
	| Password Expires   | The number of months for which a password is valid                        |

1. Click **Save Identity Provider**.

## <a id='add-to-int'></a> Add Internal Users From the Command Line

You can use the **Internal Users** admin pane to send invitations to users
to enable them to add themselves to the internal user store.
However, you cannot use the admin pane to add users directly.
For information about the admin pane,
see [Manage Users in an Internal User Store](./manage-users.html#internal).

To create new internal user accounts directly with the UAA Command Line Interface (UAAC):

1. If you do not already have the UAAC installed, run `gem install cf-uaac` in a terminal window.

1. Create an admin client that can manage users in the Service Plan with the
following scopes:
	- `clients.admin`
	- `scim.read`
	- `scim.write`

	To create an admin client, see [Create Admin Client](configure-apps/index.html#admin).

1. Record the **App ID** and **App Secret**. These are used as your client ID and client secret.

1. Target the authentication domain of your SSO service plan. This is the URL you provided
when creating a Service Plan in the SSO Operator Dashboard.
<pre class="terminal">$ uaac target <span>https</span>://YOUR-AUTH-DOMAIN.login.YOUR-SYSTEM-DOMAIN</pre>

1. Fetch the **App ID** token for the admin client created above.
<pre class="terminal">$ uaac token client get ADMIN-CLIENT-ID
Client secret:
</pre>

1. When prompted with `Client secret`, enter the **App Secret** admin client secret recorded above.

1. Add new users by providing the user's email address, username, and password.
<pre class="terminal">$ uaac user add --emails YOUR-USER<span>@</span>EMAIL.COM
User name:  YOUR-USER
Password:  ****
Verify password:  ****
user account successfully added</pre>

1. (Optional) You can also create groups and add users to them.
<pre class="terminal">$ uaac group add
Group name:  YOUR-GROUP
  meta
    version: 0
    created: 2016-02-19T23:17:17.000Z
    lastmodified: 2016-02-19T23:17:17.000Z
  schemas: urn:scim:schemas:core:1.0
  id: 8725b5fd-8da2-4cfc-89b1-c57048f089c2
  displayname: YOUR-GROUP
</pre>
To add a member to your new group, use the following command.
<pre class="terminal">$ uaac member add YOUR-GROUP YOUR-USER</pre>

## <a id='passwd-policy'></a> Define Password Policy for the Internal User Store

Admins can define the password policy for SSO users in the internal user store.
The password policy enforces rules that restrict the kinds of passwords users can create.

To define a password policy:

1. Log in to the SSO Operator Dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` using your UAA admin credentials.
   You can find these credentials in your PAS tile in Ops Manager under the Credentials tab.

1. Click the plan name and select **Manage Identity Providers** from the dropdown.

1. Click **Internal User Store** and select **Edit Provider** from the dropdown.

1. Configure the following under the **Password Complexity** section:
    * **Min Length**: Specify the minimum password length.
    * **Uppercase**: Specify the minimum number of uppercase characters required in a password.
    * **Lowercase**: Specify the minimum number of lowercase characters required in a password.
    * **Special Characters**: Specify the minimum number of special characters required in a password.
    * **Numerals**: Specify the minimum number of numeric characters required in a password.

1. Configure the following under the **Lockout Policy** section:
    * **Failures Allowed**: Specify the number of failed login attempts allowed per hour before a user is locked out.
    * **Lockout Period**: Specify the number of seconds a user is locked out for after excessive failed login attempts.
    * **Password Expires**: Specify the number of months passwords are valid for before users needs to enter a new password.

1. Click **Save Identity Provider**.

## <a id='testing-identity-provider-configurations'></a> Test Identity Provider Configurations

Pivotal provides sample apps you can deploy to validate your identity provider configurations.
To deploy a sample app, see [identity-sample-apps](https://github.com/pivotal-cf/identity-sample-apps)
in Github.
