---
title: Creating New PCF Administrators
owner: Identity Service
---

<!-- This topic is very short. I think there might be a place in our docs currently where we can 
put this? -->

This topic describes how to create new PCF administrator who can use the UI or set up plan automation
using the User Account and Authentication Command Line Interface (UAAC).

## <a id="creating"></a> Creating New System Operators

1. To create a new user using UAAC, run the following command:

    ```
    uaac user add ADMIN-USERNAME -p ADMIN-PASSWORD --emails ADMIN-EMAIL
    ```
    
    Where: 
    + `ADMIN-USERNAME` is the new admin username. 
    + `ADMIN-PASSWORD` is the new admin password.
    + `ADMIN-EMAIL` is the new admin email.

1. To add the new system operator to the appropriate groups, run the following commands:
  + To add the new system operator to `UAA Admin` group, run the following command: 
    
        ```
        uaac member add uaa.admin NEW-ADMIN-USERNAME`
        ```
      
        Where `ADMIN-USERNAME` is the new admin username. <br><br>
  + To add the new system operator to `Zones UAA Admin` group, run the following command: 
    
        ```
        uaac member add zones.uaa.admin ADMIN-USERNAME`
        ```
        
        Where `ADMIN-USERNAME` is the new admin username. <br><br>    
  + To add base scopes for new system operator, run the following commands: 
    
        ```
        uaac member add clients.read ADMIN-USERNAME
        ```
        
        ```
        uaac member add clients.write ADMIN-USERNAME
        ```
        Where `ADMIN-USERNAME` is the new admin username. 
