---
title: Creating New PCF Administrators for SSO
owner: Identity Service
---

<!-- This topic is very short. I think there might be a place in our docs currently where we can 
put this? Tian says that this is a UI procedure but I only see UAAC stuff? manage-service-plans.html.md.erb 

 -->

This topic describes how to create new Pivotal Cloud Foundry (PCF) administrator who can use the UI or set up plan automation
using the User Account and Authentication Command Line Interface (UAAC).

## <a id="creating"></a> Creating New PCF Administrator

1. To install the UAA CLI, run the following command:
    
	```
  gem install cf-uaac
  ```
		
1. To target your PCF UAA server, run the following command: 

    ```
    $ uaac target uaa.YOUR-SYSTEM-DOMAIN
    ```
		
	Where `YOUR-SYSTEM-DOMAIN` is your PCF system domain URL.
	
1. To record your admin credentials, do one of the following:
	+ Obtain **Admin Client Credentials** from OpsManager.
	+ Obtain **uaa:admin:client_secret** from your deployment manifest. UAAC stores the token in `~/.uaac.yml`.
					
1. To authenticate and obtain an access token for the admin client from the UAA server, 
run the following command: 

	```
	uaac token client get admin -s ADMIN-CLIENT-SECRET
	```
	
	Where `ADMIN-CLIENT-SECRET` is the admin credentials you recorded in step 3. 
	

1. To create a new PCF administrator using UAAC, run the following command:

    ```
    uaac user add ADMIN-USERNAME -p ADMIN-PASSWORD --emails ADMIN-EMAIL
    ```
    
    Where: 
    + `ADMIN-USERNAME` is the new admin username. 
    + `ADMIN-PASSWORD` is the new admin password.
    + `ADMIN-EMAIL` is the new admin email.

1. To allow a new PCF administrator to manage SSO, give them `cloud_controller.admin, scim.read, zones.read, zones.write` scopes at a minimum:
  + To add the above mentioned scopes to a user, run the following command: 
    
        ```
        uaac member add cloud_controller.admin ADMIN-USERNAME`
        uaac member add scim.read ADMIN-USERNAME`
        uaac member add zones.read ADMIN-USERNAME`
        uaac member add zones.write ADMIN-USERNAME`
        ```
        
        Where `ADMIN-USERNAME` is the new admin username. <br><br>    
