---
title: Determining SSO Application Type
owner: Identity Service
---

This topic explains how to determine your <%= vars.product_full %> app type.

## <a id='choose-type'></a> Determine Your SSO Application Type

Before you bind or register an app, you must determine its SSO application type and the corresponding OAuth grant type.

If your app authenticates end users, its application type is Web App, Native Mobile App, or Single-Page JavaScript App.
If the app does not authenticate end users, but rather accesses other services or APIs on its own behalf, then its type is Service-to-Service App.

See the table below to determine your app's SSO Application Type and OAuth Grant Type:

<table>
  <thead>
    <tr>
      <th>App Type</th>
      <th><%= vars.product_short %> App Type</th>
      <th>OAuth Grant Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Web</td>
      <td>Web App</td>
      <td><a href="grant-types.html#auth-code">Authorization Code</a></td>
    </tr>
    <tr>
      <td>Native Mobile, Desktop, or Command Line</td>
      <td>Native Mobile App</td>
      <td><a href="grant-types.html#resource-owner-pw">Resource Owner Password</a></td>
    </tr>
    <tr>
      <td>Single-Page JavaScript</td>
      <td>Single-Page JavaScript App</td>
      <td><a href="grant-types.html#implicit">Implicit</a></td>
    </tr>
    <tr>
      <td>Service-to-Service</td>
      <td>Service-to-Service App</td>
      <td><a href="grant-types.html#client-cred">Client Credentials</a></td>
    </tr>
  </tbody>
</table>


<p class="note"><strong>Note</strong>: The Native Mobile App application type is intended only
   for highly-trusted apps, such as company-owned and managed apps.
   The Native Mobile App application type works only with back-channel protocols,
   such as internal UAA store or LDAP.
   It does not work with front-channel protocols, such as SAML.</p>
