---
title: Getting Started with Pivotal Single Sign-On
---

This documentation describes installing and configuring the Pivotal Single Sign-On service.

## <a id='product-snapshot'></a>Product Snapshot

<dl>
  <dt>Current <a href="https://network.pivotal.io/products/p-identity">Pivotal Single Sign-On</a> for Pivotal Cloud Foundry&reg; Details</dt>
  <dd><strong>Version</strong>: 1.0.5</dd>
  <dd><strong>Release Date</strong>: 2016-01-18</dd>
  <dd><strong>Software component version</strong>: Pivotal Single Sign-On 1.0.5 Installer based on Elastic Runtime 1.6.x</dd>
  <dd><strong>Compatible Ops Manager Version(s)</strong>: 1.6.x</dd>
  <dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.6.x</dd>
  <dd><strong>vSphere support?</strong> Yes</dd>
  <dd><strong>AWS support?</strong> Yes</dd>
  <dd><strong>OpenStack support?</strong> No</dd>
</dl>

## <a id='install-tile'></a>Step 1: Install the Service Tile in Ops Manager

  1. Download the Pivotal Single Sign-On product tile from [Pivotal Network](https://network.pivotal.io).
  1. Upload the product tile to your Ops Manager installation. See [Adding and Deleting Products](../pivotalcf/customizing/add-delete.html).
  1. Click **Add** next to the uploaded product description in the Available Products view to add this product to your staging area.
  1. Click **Apply Changes** to deploy the service.

## <a id='create-plan'></a>Step 2: Create one or more Service Plans
Pivotal Single Sign-On is a multi-tenant service. A Pivotal Single Sign-On tenant corresponds to a service plan. As an enterprise adopting Pivotal Single Sign-On, you might want to segregate your tenants into separate plans. For example, the following tenants might require separate plans:

  * Business units and geographical locations
  * Employees, consumers, and partners
  * Development, staging, and production instances

You can create one or more plans under your Pivotal Single Sign-On service. Refer to [Manage Service Plans](administering.html#plan-management) for more information.

<p class="note"><strong>Note</strong>: You can create and configure service plans at any time. However, you must create at least one plan in order to register and use the Service with applications on your <a href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud Foundry&reg;</a> installation.</p>

## <a id='update-ssl-certificate'></a>Step 3: Update SSL Certificate

As described in the above section, every service plan corresponds to a tenant. Each service plan is accessible at a tenant-specific URL in the format `https://<AUTH-DOMAIN>.login.<SYSTEM-DOMAIN>`.

You must update the SSL Certificate for the domains listed below. In addition, depending on your infrastructure and type of load balancer, update your load balancer configuration for the following domains:

  * `*.<SYSTEM-DOMAIN>`
  * `*.<APPS-DOMAIN>`
  * `*.login.<SYSTEM-DOMAIN>`
  * `.uaa.<SYSTEM-DOMAIN>`

## <a id='create-instance'></a>Step 4: Create Service Instances
After you have made the plans visible in the relevant PCF organizations, create a service instance to use the service plan within a space. Refer to the [Manage Service Instances](administering.html#instance-management) section of the *Administering Pivotal Single Sign-On* topic for more information about how to create a service instance within orgs and spaces.

While service instances are accessible only within a space, service plans are visible across spaces and orgs. Every plan needs a service instance in every space containing applications it will access.

If you have a plan that allows Single Sign-On to applications in multiple spaces, you must create a service instance for the plan in each of the spaces.

## <a id='config-ext-providers'></a>Step 5: Configure External Identity Providers
Configure the external identity providers for your PCF platform. External identity providers must be SAML 2.0 compliant. Refer to [Administering Pivotal Single Sign-On](administering.html#user-store-management) for more information about configuring External Identity Providers.

## <a id='register-apps'></a>Step 6:  Register your Applications
Secure your applications in one of the following ways:

  * Bind your application to a service instance from the Apps Manager Console.
  * Register your application from the Pivotal Single Sign-On service dashboard.

 When you bind an application with the Pivotal Single Sign-On service, an OAuth Client is registered with the Single Sign-On server. This OAuth Client acts as an OAuth 2.0 Authorization Server and issues tokens.

If you bind your application from the Apps Manager Console, then you are choosing the following defaults:

  * The application type is Web App.
  * The User Store Connection is an Internal User Store. This means that users are stored in the user store provided by Pivotal Single Sign-On.

If you register your application with the Pivotal Single Sign-On service dashboard, you gain access to a larger selection of application types. You can also configure the User Store Connection to an external identity provider with SAML.

## <a id='enable-oauth'></a>Step 7: Enable OAuth 2.0 for your applications
Your application must be able to request and validate an OAuth or OpenID Connect token. Refer to the [Application Integration](administering.html#app-integration) section for more information.
