---
title: Single Sign-On Overview
owner: Identity Service
---

This documentation describes installing and configuring the [Single Sign-On](https://network.pivotal.io/products/p-identity) service.

The Single Sign-On service enables Pivotal Cloud Foundry&reg; users to authenticate with an external identity provider rather than having to create a new account or re-enter credentials. Single Sign-On grants users centralized access to applications in various spaces, as well as to Ops Manager, Apps Manager, and other Cloud Foundry components.

The Single Sign-On service also lets administrators use an external identity provider to manage all user access.

## <a id='product-snapshot'></a> Product Snapshot

Current [Single Sign-On](https://network.pivotal.io/products/p-identity) for Pivotal Cloud Foundry&reg; Details
<div style="line-height: 1; padding-left: 3em">

- **Version**: 1.0.9
- **Release Date**: 2016-02-24
- **Software component versions**: Single Sign-On 1.0.9 Installer based on Elastic Runtime 1.7.x or later
- **Compatible Ops Manager Version(s)**: 1.7x or later
- **Compatible Elastic Runtime Version(s)**: 1.7x or later
- **vSphere support?** Yes
- **AWS support?** Yes
- **OpenStack support?** No
</div>


## <a id='upgrading'></a> Upgrading to the Latest Version

Consider the following compatibility information before upgrading Single Sign-On for Pivotal Cloud Foundry®.


<table border="1" class="nice">
<tr>
  <th rowspan="2">Ops Manager Version</th>
  <th colspan="2">Supported Upgrades from SSO Versions</th>
</tr>
<tr>
  <th>From</th>
  <th>To</th>
</tr><tr>
  <th rowspan="9">1.6.x</th>
  <td>1.0.1</td>
  <td rowspan="9">1.0.10</td>
</tr><tr>
  <td>1.0.2</td>
</tr><tr>
  <td>1.0.3</td>
</tr><tr>
  <td>1.0.4</td>
</tr><tr>
  <td>1.0.5</td>
</tr><tr>
  <td>1.0.6</td>
</tr><tr>
  <td>1.0.7</td>
</tr><tr>
  <td>1.0.8</td>
</tr><tr>
  <td>1.0.9</td>
</tr>
</table>

## <a id='sso'></a>Single Sign-On for Pivotal Cloud Foundry

* [Installation](installation.html)
* [Getting Started with Single Sign-On](getting-started.html)
* [Manage Service Plans](manage-service-plans.html)
* [Manage Service Instances](manage-service-instances.html)
* [Configure Identity Providers](configure-id-providers.html)
* [Bind or Register Applications](bind-apps.html)
* [Manage Resources](manage-resources.html)

<<<<<<< HEAD
## <a id='additional'></a>Additional Information

* [Release Notes](release-notes.html)
=======
## <a id='okta'></a>Okta Integration Guide

* [Overview](overview.html)
* [Configure Identity Provider](config-okta.html)
* [Configure SSO Service](config-sso.html)
* [Testing](testing.html)
* [Troubleshooting](troubleshooting.html)

<!-- ## <a id='ca'></a>CA Single-Sign On Integration Guide -->
## <a id='additional'></a>Additional Information

* [Release Notes](release-notes.html)
>>>>>>> sso-okta-integration-#115909927
