---
title: Getting Started with Pivotal Single Sign-On
owner: Identity Service
---

This documentation describes installing and configuring the [Pivotal Single Sign-On](https://network.pivotal.io/products/p-identity) service.

# Single Sign-On Overview

<Table of Contents>

## Product Snapshot

Current [Single Sign-On](https://network.pivotal.io/products/p-identity) for Pivotal Cloud Foundry® Details

Version: 1.0.9

Release Date: 2016-02-24

Software component version: Single Sign-On 1.0.9 Installer based on Elastic Runtime 1.7.x

Compatible Ops Manager Version(s): 1.7.x

Compatible Elastic Runtime Version(s): 1.7.x

vSphere support? Yes

AWS support? Yes

OpenStack support? No



## Upgrading to the Latest Version

Consider the following compatibility information before upgrading Single Sign-On for Pivotal Cloud Foundry®.

Ops Manager Version

Supported Upgrades from Imported SSO Installation

1.6.x

* From 1.0.1 to 1.0.10

* From 1.0.2 to 1.0.10

* From 1.0.3 to 1.0.10

* From 1.0.4 to 1.0.10

* From 1.0.5 to 1.0.10

* From 1.0.6 to 1.0.10

* From 1.0.7 to 1.0.10

* From 1.0.8 to 1.0.10

* From 1.0.9 to 1.0.10



## About



The Single Sign-On service enables Pivotal Cloud Foundry users to authenticate with an external identity provider without creating a new account or re-entering credentials. Administrators can also manage user access in the one application - the external identity provider.

Add value proposition and diagram.

## Installation

Please follow these [instructions](https://docs.google.com/document/d/1eYM4_dA1avxcIEZgg19rzgYkXSD4Fzip_6TzmmMXBFo/edit) to install Single Sign-On via Ops Manager.

## Set Up

### Create a Service Plan

The Single Sign-On service is a multi-tenant service and a service plan corresponds to a tenant. This allows an enterprise to segregate users or environments using plans.

Follow these [instructions](https://docs.google.com/document/d/1CIexMlTwIjJjhBncH0JoHhLBOw5tNxtv0SBgpZUQp4Q/edit) to create a service plan.

### Create a Service Instance

Single Sign-On service plans can be used across spaces to provide single sign-on capabilities for applications in various spaces. A service instance enables the binding of an application to a service plan.

Follow these [instructions](https://docs.google.com/document/d/1Y0ZKBoevRTDxml6uCF0QDNkf3Gyj9Xp7UT39pU0_zSI/edit) to create a service instance.

### Configure an Identity Provider

In addition to the internal user store, external identity providers can be configured to provide single sign-on to applications. External identity providers must support SAML 2.0.



Follow these [instructions](https://docs.google.com/document/d/1zjmFzJFXGeMoxMAFikcgDS4Y7JFR67IfPeFQbjoUxLI/edit) to configure identity providers.

### Register Applications

Single Sign-On supports both Pivotal Cloud Foundry hosted applications as well as externally hosted applications. Your applications must be able to request an OAuth or OpenID Connect token.

Follow these [instructions](https://docs.google.com/document/d/1Rg8JhEHroldjxjW6tv-KIjcWH0Jh_6i4KX7vyVyi7zE/edit#heading=h.hgtah512qxo) to register your applications.

### Create Resources

Once your applications are registered you can create resources to permit and restrict user access. These will allow users and clients (or applications) to tell an authorization server what permissions they’ll need on resources they’re accessing.

Follow these [instructions](https://docs.google.com/document/d/1Om32PjJ1K4Nt3yaWmZJd7EnQ66BGaVuACs3ivWuZXg0/edit) to create resources for your applications.

## Other Usages

Single Sign-On also supports single sign-on for other components of Pivotal Cloud Foundry. This includes single sign-on to Ops Manager and Apps Manager. This allows the reuse of existing users and credentials that are managed in an external identity provider to sign into Pivotal services.

For more information on how to configure these services to use Single Sign-On, refer to the following pages:

* Ops Manager

* [Apps Manager](http://docs.pivotal.io/pivotalcf/opsguide/sso.html)


-=-=-

<table class="c17"><tbody>
  <tr class="c16"><td class="c8" colspan="1" rowspan="1"><p class="c7"><span class="c13 c19">Actions</span></p></td><td class="c6 c20" colspan="1" rowspan="1"><p class="c7"><span class="c19 c13">PCF Administrator</span></p></td><td class="c5" colspan="1" rowspan="1"><p class="c7"><span class="c14 c13">Plan Administrator</span></p></td><td class="c9 c20" colspan="1" rowspan="1"><p class="c7"><span class="c13 c14">Space Developer</span></p></td></tr>
  <tr class="c16"><td class="c8" colspan="1" rowspan="1"><p class="c7"><span class="c0">Manage Service Plans</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c7"><span class="c0">X</span></p></td><td class="c10" colspan="1" rowspan="1"><p class="c1 c11"><span class="c0"></span></p></td><td class="c9" colspan="1" rowspan="1"><p class="c1 c11"><span class="c0"></span></p></td></tr>
  <tr class="c16"><td class="c8" colspan="1" rowspan="1"><p class="c7"><span class="c0">Manage Identity Providers</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c7"><span class="c0">X</span></p></td><td class="c10" colspan="1" rowspan="1"><p class="c1"><span class="c0">X</span></p></td><td class="c9" colspan="1" rowspan="1"><p class="c1 c11"><span class="c0"></span></p></td></tr>
  <tr class="c16"><td class="c8" colspan="1" rowspan="1"><p class="c7"><span class="c0">Manage Service Instances</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c7"><span class="c0">X</span></p></td><td class="c10" colspan="1" rowspan="1"><p class="c1"><span class="c0">X</span></p></td><td class="c9" colspan="1" rowspan="1"><p class="c1"><span class="c0">X</span></p></td></tr>
  <tr class="c16"><td class="c8" colspan="1" rowspan="1"><p class="c7"><span class="c0">Manage Applications</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c7"><span class="c0">X</span></p></td><td class="c10" colspan="1" rowspan="1"><p class="c1"><span class="c0">X</span></p></td><td class="c9" colspan="1" rowspan="1"><p class="c1"><span class="c0">X</span></p></td></tr>
  <tr class="c16"><td class="c8" colspan="1" rowspan="1"><p class="c7"><span class="c0">Manage Resources</span></p></td><td class="c6" colspan="1" rowspan="1"><p class="c7"><span class="c0">X</span></p></td><td class="c10" colspan="1" rowspan="1"><p class="c1"><span class="c0">X</span></p></td><td class="c9" colspan="1" rowspan="1"><p class="c1"><span class="c0">X</span></p></td></tr></tbody></table>
