---
title: Single Sign-On Overview
owner: Identity Service
---

This topic provides an overview of the [Single Sign-On](https://network.pivotal.io/products/p-identity) service for Pivotal Cloud Foundry (PCF).

The Single Sign-On service is an all-in-one solution for securing access to applications and APIs on PCF. The Single Sign-On service provides support for native authentication, federated single sign-on, and authorization. Operators can configure native authentication and federated single sign-on, for example SAML, to verify the identities of application users. After authentication, the Single Sign-On service uses OAuth 2.0 to secure resources or APIs. 

## <a id="sso-overview"></a> Single Sign-On

The Single Sign-On service allows users to log in through a single sign-on service and access other applications that are hosted or protected by the service. This improves security and productivity since users do not have to log in to individual applications.

Developers are responsible for selecting the authentication method for application users. They can select native authentication provided by the User Account and Authentication (UAA) or external identity providers. UAA is an open source identity server project under the Cloud Foundry (CF) foundation that provides identity based security for applications and APIs.

SSO supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All SSO communication takes place over SSL.

## <a id="oauth2"></a> OAuth 2.0 Authorization

After authentication, the Single Sign-On service uses OAuth 2.0 for authorization. OAuth 2.0 is an authorization framework that delegates access to applications to access resources on behalf of a resource owner.

Developers define resources required by an application bound to a Single Sign-On (SSO) service instance and administrators grant resource permissions. See the <a href="./configure-apps/index.html">Configure Applications</a> topic for more details.
 
## <a id='product-snapshot'></a> Product Snapshot

The following table provides version and version-support information about [Single Sign-On](https://network.pivotal.io/products/p-identity) for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.6.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 20, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0 and v2.1</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.0 and v2.1</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, OpenStack, Azure, and vSphere</td>
    </tr>
</table>

## <a id='upgrading'></a> Upgrading to the Latest Version

Consider the following compatibility information before upgrading Single Sign-On for PCF.
Pivotal recommends upgrading PCF before upgrading SSO to the supported version. 
For example, when upgrading from PCF v2.0 to PCF v2.1,
upgrade PCF so that SSO v1.5.3 is running on PCF v2.1, 
and then upgrade SSO v1.5.3 to SSO v1.6 as soon as possible.

<p class="note breaking"><strong>Breaking Change: </strong>You can only upgrade to SSO v1.6 on PCF v2.0.<br>
   For information about upgrading to PCF v2.0,
   see <a href="https://docs.pivotal.io/pivotalcf/2-0/customizing/upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a>. </p>

<table border="1" class="nice">
<tr>
  <th rowspan="2">Elastic Runtime<sup>*</sup> or PAS Version</th>
  <th colspan="2">Supported Upgrades from SSO Versions</th>
</tr>
<tr>
  <th>From</th>
  <th>To</th>
</tr>
  <tr>
    <th rowspan="2">1.10.x</th>
    <td>1.2.0–1.2.4</td>
    <td rowspan="2">1.3.6</td>
  </tr><tr>
    <td>1.3.0-1.3.5</td>
  </tr>
  <tr>
    <th rowspan="2">1.11.x</th>
    <td>1.3.0-1.3.6</td>
    <td rowspan="2">1.4.6</td>
  </tr><tr>
    <td>1.4.1-1.4.5</td>
  </tr>
  <tr>
    <th rowspan="2">1.12.x</th>
    <td>1.4.1-1.4.6</td>
    <td rowspan="2">1.5.3</td>
  </tr><tr>
    <td>1.5.0-1.5.2</td>
  </tr>
  <tr>
    <th rowspan="2">2.0.x</th>
    <td rowspan="2">1.5.3</td>
    <td>1.5.x</td>
  </tr><tr>
    <td>1.6.0</td>
  </tr>
  <tr>
    <th rowspan="1">2.1.x</th>
    <td>1.6.0</td>
    <td>1.6.x</td>
  </tr>
</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

<div class="note"><strong>Note</strong>: The Single Sign-On service tile operates 
  in lockstep with Elastic Runtime.<br>
  For example: <br>
    <ul>
        <li> The SSO v1.4.x tiles are compatible with PCF v1.11.x and v1.12.x.</li>
        <li> The SSO v1.5.x tiles are compatible with PCF v1.12.x, and v1.5.3+ are compatible with v2.0.x and v2.1.x.</li>
        <li> The SSO v1.6.x tiles are compatible with PCF v2.0, v2.1 and later.</li>
    </ul>
 </div>


## <a id='sso'></a> Useful Links

* <a href="installation.html">Installation</a>
* <a href="getting-started.html">Getting Started with Single Sign-On</a>
* <a href="system-plan.html">Using the System Plan</a>
* <a href="manage-service-plans.html">Manage Service Plans</a>
* <a href="manage-service-instances.html">Manage Service Instances</a>
* <a href="configure-id-providers.html">Configure Identity Providers</a>
* <a href="idp-discovery.html">Identity Provider Discovery</a>
* <a href="manage-users.html">Manage Users</a>
* <a href="./configure-apps/index.html">Configure Applications</a>
  * [Authorization Code Grant Type](./configure-apps/web-app.html)
  * [Implicit Grant Type](./configure-apps/native-mobile-app.html)
  * [Client Credentials Grant Type](./configure-apps/service-to-service-app.html)
  * [Resource Owner Password Credentials Grant Type](./configure-apps/single-page-js-app.html)
* <a href="manage-resources.html">Manage Resources</a>
