---
title: Single Sign-On Overview
owner: Identity Service
---

This topic provides an overview of the [Single Sign-On](https://network.pivotal.io/products/p-identity) service for Pivotal Cloud Foundry (PCF).

The Single Sign-On service is an all-in-one solution for securing access to applications and APIs on PCF. The Single Sign-On service provides support for native authentication, federated single sign-on, and authorization. Operators can configure native authentication and federated single sign-on, for example SAML, to verify the identities of application users. After authentication, the Single Sign-On service uses OAuth 2.0 to secure resources or APIs. 

## <a id="sso-overview"></a> Single Sign-On

The Single Sign-On service allows users to log in through a single sign-on service and access other applications that are hosted or protected by the service. This improves security and productivity since users do not have to log in to individual applications.

Developers are responsible for selecting the authentication method for application users. They can select native authentication provided by the User Account and Authentication (UAA) or external identity providers. UAA is an open source identity server project under the Cloud Foundry (CF) foundation that provides identity based security for applications and APIs.

SSO supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All SSO communication takes place over SSL.

## <a id="oauth2"></a> OAuth 2.0 Authorization

After authentication, the Single Sign-On service uses OAuth 2.0 for authorization. OAuth 2.0 is an authorization framework that delegates access to applications to access resources on behalf of a resource owner.

Developers define resources required by an application bound to a Single Sign-On (SSO) service instance and administrators grant resource permissions. See the <a href="./configure-apps/index.html">Configure Applications</a> topic for more details.
 
## <a id='product-snapshot'></a> Product Snapshot

The following table provides version and version-support information about [Single Sign-On](https://network.pivotal.io/products/p-identity) for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.7.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Month XX, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1 and v2.2</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.1 and v2.2</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, OpenStack, Azure, and vSphere</td>
    </tr>
</table>

## <a id='support-matrix'></a> Support Matrix for SSO v1.4.x to v1.7.x

This table lists the supported versions of SSO on PCF. 

<table border="1" class="nice">
<tr>
  <th rowspan="2">PCF</sup></th>
  <th colspan="2">Supported SSO Versions</th>
</tr>
<tr>
  <th>Recommended SSO Version</th>
  <th>Minimum SSO Version</th>
</tr>
  <tr>
    <th rowspan="1">2.2.x</th>
    <td>1.7.0</td>
    <td>1.7.0</td>
  </tr>
  <tr>
    <th rowspan="1">2.1.x</th>
    <td>1.7.0</td>
    <td>1.6.0</td>
  </tr>
  <tr>
    <th rowspan="1">2.0.x</th>
    <td>1.6.0</td>
    <td>1.5.3*</td>
  </tr>
  <tr>
    <th rowspan="1">1.12.x</th>
    <td>1.5.3</td>
    <td>1.5.0</td>
  </tr>
  <tr>
    <th rowspan="1">1.11.x</th>
    <td>1.4.6</td>
    <td>1.4.0</td>
  </tr>
</table>


\* If you are upgrading from PCF v1.12 to v2.0, see the knowledge base article
[Upgrade SSO Service Tile Between PCF 1.12 and PCF 2.0](https://community.pivotal.io/s/article/Upgrade-SSO-Service-Tile-Between-PCF-112-and-PCF-20).

### <a id='upgrading-example'></a> Upgrade Path to SSO v1.7

If you are using SSO v1.6.0 and PCF v2.1.0 and want to upgrade to SSO v1.7.0 and PCF v2.2.x,
do the following:

1. Upgrade to SSO v1.7.0 on PCF v2.1.x.
1. Upgrade PCF to v2.2.x.

    For how to upgrade PCF,
    see [Upgrading Pivotal Cloud Foundry](https://docs.pivotal.io/pivotalcf/2-2/customizing/upgrading-pcf.html).

[//]: # (Reveal this comment when SSO v1.6.1 releases <p class="note"><strong>Note:</strong>  In general, Pivotal recommends that you upgrade to the latest version of your current minor line, then upgrade to the latest available version of the new minor line.  For example, if you use v1.6.0, upgrade to v1.6.1 before upgrading to v1.7.0 version.  </p>)

## <a id='sso'></a> Useful Links

* <a href="installation.html">Installation</a>
* <a href="getting-started.html">Getting Started with Single Sign-On</a>
* <a href="system-plan.html">Using the System Plan</a>
* <a href="manage-service-plans.html">Manage Service Plans</a>
* <a href="manage-service-instances.html">Manage Service Instances</a>
* <a href="configure-id-providers.html">Configure Identity Providers</a>
* <a href="idp-discovery.html">Identity Provider Discovery</a>
* <a href="manage-users.html">Manage Users</a>
* <a href="./configure-apps/index.html">Configure Applications</a>
  * [Authorization Code Grant Type](./configure-apps/web-app.html)
  * [Implicit Grant Type](./configure-apps/native-mobile-app.html)
  * [Client Credentials Grant Type](./configure-apps/service-to-service-app.html)
  * [Resource Owner Password Credentials Grant Type](./configure-apps/single-page-js-app.html)
* <a href="manage-resources.html">Manage Resources</a>
