---
title: Installing Single Sign-On
owner: Identity Service
---

This topic explains how to install Single Sign-On (SSO) for Pivotal Cloud Foundry (PCF).


## <a id='pre-reqs'></a> Prerequisites

* [Ops Manager](https://network.pivotal.io/products/ops-manager) v2.1 or later

* [Pivotal Application Service](https://network.pivotal.io/products/elastic-runtime)
v2.1 or v2.2

* SSL certificates

* Application Security Groups


## <a id='install'></a> Install SSO via Ops Manager

<p class="note"><strong>Note:</strong> If you are upgrading to this version of SSO,
  you must update the definitions of any BOSH Add-On's for PCF you are using to
  include the Xenial stemcell.
	See <a href="#update-addons">Update Add-ons to Run with Xenial Stemcell</a> below.</p>

1. From [Pivotal Network](https://network.pivotal.io/products/p-identity), select
a **Single Sign-On** tile version and download the product release file.

1. From [Pivotal Network](https://network.pivotal.io/products/p-identity), select
a **Single Sign-On** tile version and download the product release file.

1. From the Ops Manager Installation Dashboard, select the **Import a Product**
button to upload the product file.

1. Click the **+** icon next to the uploaded product to add this product to your
staging area.

1. Click on the **Single Sign-On** tile to enter any configurations.

    <p class="note"><strong>Note:</strong> The SSO Identity Service Broker is
    deployed as a PCF app from a BOSH errand, and has no associated BOSH
    VMs that require selecting a corresponding network. If you are forced to select
    a network during installation, select the <strong>Deployment</strong> network,
    also known as the PAS network.</p>

1. In the Ops Manager Dashboard, do the following to complete the installation:

    1. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**.
    For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).<br><br>
    1. Click **Apply Changes**.

## <a id="stemcell"></a>Update Stemcell

If required, do the following to update the stemcell for SSO:

1. Download the stemcell from [Pivotal Network](https://network.pivotal.io/).
1. In the Ops Manager, click **Stemcell Library**.
1. Click **Import Stemcell**, and then select the stemcell you downloaded from
Pivotal Network.

    <br>![Stemcell Library](stemcell-library-xenial.png)
1. Click **Save**.

## <a id='update'></a>Update SSL and Load Balancer

You must update the SSL certificate for the domains listed below for each plan you create.
Depending on your infrastructure and load balancer, you must also update your
load balancer configuration for the following domains:

* `*.SYSTEM-DOMAIN`

* `*.APPS-DOMAIN`

* `*.login.SYSTEM-DOMAIN`

* `*.uaa.SYSTEM-DOMAIN`


## <a id='configure'></a> Configure Application Security Groups

The Single Sign-On service requires the following network connections:

* TCP connection to load balancer(s) on port 443
* TCP and UDP connection to Domain Name Servers on port 53
* (Optional) TCP connection to your external identity provider on port 80 or 443

To enable access to the Single Sign-On service, you must ensure your
Application Security Group allows access to the load balancer(s) and domain
name servers that provide access to Cloud Controller and UAA. Optionally, you
can configure access to your external identity provider to receive SAML
metadata. For how to set up application security groups, see [Understanding
Application Security
Groups](http://docs.pivotal.io/pivotalcf/adminguide/app-sec-groups.html).

## <a id="update-addons"></a>Update Add-ons to Run with Xenial Stemcell

SSO v1.7.1 and later requires a Xenial stemcell.
If you are using any of the following BOSH add-ons with your PCF deployment,
you must update the add-on definition to include the Xenial stemcell before you
deploy SSO v1.7.1:

+ File Integrity Monitoring for PCF Add-on.
  For update instructions,
  see [Updating FIM Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-fim/updating-for-xenial.html).
+ ClamAV for PCF Add-on.
  For update instructions,
  see [Updating ClamAV Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-antivirus/updating-for-xenial.html).
+ IPsec for PCF Add-on.
  For update instructions,
  see [Updating IPsec Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-ipsec/updating-for-xenial.html).
