---
title: Manage Service Instances
owner: Identity Service
---

This topic describes how Space Developers create an instance of a Single Sign-On service plan in their space and bind it to an application.

## <a id='create-svc-instance'></a> Create Service Instances

1. Log in to Apps Manager at `https://console.YOUR-SYSTEM-DOMAIN` as a Space Developer.

2. Navigate to the organization that the service plan is enabled for.

3. Select **Marketplace** and select the Single Sign-On service you want to create an instance of.

4. Choose your service plan and click **Select this plan**.

5. In the **Configure Instance** box, enter an **Instance Name**.

6. From the **Add to Space** dropdown menu, choose a space for the instance. This space hosts your application. The default is `development`.

7. From the **Bind to App** dropdown menu, choose an application to bind the service instance to. This option defaults to `[do not bind]`. If you do not bind the instance to an app, you can bind it at a later time.

8. Click **Add** to create the service instance.

## <a id='delete-svc-instance'></a> Delete Service Instances

1. Log in to Apps Manager at `https://console.YOUR-SYSTEM-DOMAIN` as a Space Developer.

2. Navigate to the organization and space that contain the service instance you want to delete.

3. Under **Services** in the space page, find your service instance and click **Delete**.

1. Click **Delete** on the pop-up to confirm that you want to delete the service instance and service bindings.

<p class="note"><strong>Note</strong>: This action cannot be undone. Deleting a Single Sign-On service instance deletes the configurations on the service instance, as well as the associated service bindings. You must bind any applications bound to the deleted service instance to a new service instance. </p>