---
title: Managing Service Instances
owner: Identity Service
---

This topic describes how Space Developers create an instance of a <%= vars.product_full %> service plan in their
space and bind it to an app.

## <a id='create-svc-instance'></a> Create Service Instances

1. Log in to Apps Manager at `https://apps.YOUR-SYSTEM-DOMAIN` as a Space Developer.

2. Navigate to the org that where the service plan is enabled.

3. Select **Marketplace** and select the **<%= vars.product_short %>** service.

4. Select the service plan you want and click **Select this plan**.

5. In the **Configure Instance** box, enter an **Instance Name**.

    ![Create Service Instance](images/create-service-instance.png)

6. Under **Instance Configuration**, enter a name for your instance in **Instance Name**.

1. From the **Add to Space** drop-down, select a space for the instance.
This space hosts your app


7. From the **Bind to App** drop-down, select an app to bind the service instance to.
This option defaults to `[do not bind]`. If you do not bind the instance to an app,
you can bind it at a later time.

8. Click **Create** to create the service instance.

## <a id='access-svc-instance-developer-dashboard'></a> Access the <%= vars.developer_dash %>

1. Log in to Apps Manager at `https://apps.YOUR-SYSTEM-DOMAIN` as a Space Developer.

2. Navigate to the org and space where the service instance you want to manage is located.

3. Under **Services**, select the service instance you want to manage.

5. Click **Manage**.

## <a id='delete-svc-instance'></a> Delete Service Instances

1. Log in to Apps Manager at `https://apps.YOUR-SYSTEM-DOMAIN` as a Space Developer.

2. Navigate to the org and space that contain the service instance you want to delete.

3. Click **Services** and then click the **Name** of the service you want to delete.

1. Click **Settings** and then click **Delete Service Instance**.
On the pop-up, click **Delete Service Instance** again to confirm
you want to delete the service instance and service bindings.

<p class="note"><strong>Note</strong>: This action cannot be undone.
  Deleting a <%= vars.product_short %> service instance deletes the configurations on the service instance,
  as well as the associated service bindings.
  You must bind any apps bound to the deleted service instance to a new service instance.
</p>
