---
title:  Configure Identity Providers
owner: Identity Service
---

This topic describes how administrators can use an internal user store or an external identity provider to manage user access to a Single Sign-On (SSO) service plan.

For each plan, SSO provides an internal user store that manages users. As an alternative to the internal user store, administrators can use an external identity provider to allow users who are externally managed to access applications.

## <a id='config-int-store'></a> Configure Internal User Store

1. Log into the SSO dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` using your User Account and Authentication (UAA) administrator credentials. You can find these credentials in your Pivotal Elastic Runtime tile in Ops Manager under the Credentials tab.

2. Click the plan name and select **Manage Identity Providers** from the dropdown menu.

3. Click **Internal User Store**.

4. Enter a **Description**.

5. Under **Password Policy Settings**, select **Default** or **Custom**.

6. Click **Save Identity Provider**.

## <a id='add-to-int'></a> Add Users to the Internal User Store

You cannot add users to Service Plans from the SSO dashboard. In order to add users to the Internal User Store for a given Service Plan, you must use the UAA Command Line Interface (UAAC). If you do not already have the UAAC installed, run `gem install cf-uaac` in a terminal window.

The following steps describe how to use UAAC to add users to an Internal User Store.

### <a id="update-client"></a>Step 1: Client Registration

1. Target your system domain.
<pre class="terminal">$ uaac target <span>https</span>://login.YOUR-SYSTEM-DOMAIN</pre>
<p class="note"><strong>Note</strong>: If you do not have SSL configured, you can turn off SSL validation with <code>--skip-ssl-validation</code></p>

1. Fetch your admin client token.
<pre class="terminal">$ uaac token client get admin
Client secret:
</pre>
1. When prompted with `Client secret`, enter your **Admin Client Credentials** located in the **Credentials** tab of your **Pivotal Elastic Runtime** tile.
1. Update client registrations for `identity` and add `password` as a supported authorization grant type.
<pre class="terminal">$ uaac client update identity --authorized\_grant\_types "refresh\_token,password,client\_credentials,authorization\_code"
</pre>

### <a id="client-creation"></a>Step 2: Client Creation

1. Target your system domain.
<pre class="terminal">$ uaac target <span>https</span>://login.YOUR-SYSTEM-DOMAIN</pre>

1. Use the identity client and the administrator user credentials to retrieve a token which allows client creation in a given identity zone.
<pre class="terminal">$ uaac token owner get

1. When prompted with `Client ID`, type `identity` and press enter.
1. For `Client secret`, enter your **Identity Client Credentials**, located in the **Credentials** tab of your **Pivotal Elastic Runtime** tile.
1. For `User name`, enter `Admin`.
1. Enter your `Password`, which is located in the **Admin Credentials** under the **Credentials** tab of your **Pivotal Elastic Runtime** tile.
</pre>

1. Find the Identity Zone ID of your Service Plan by logging into the SSO dashboard, selecting **Edit Plan**, and copying the Identity Zone ID from the URL.
<img src="images/sso_url.png">
The highlighted text in the example URL above is the Identity Zone ID of the Service Plan.

1. Execute the following command, replacing `YOUR-IDENTITY-ZONE-ID` with the Identity Zone ID of your Service Plan. You can also replace `service_plan_admin_client` with a different name for your client, and `secret` with a different client secret.
<pre class="terminal">
uaac curl -k -H"Accept:application/json" -H"Content-Type:application/json" -H"X-Identity-Zone-Id:YOUR-IDENTITY-ZONE-ID" -XPOST --data           '{"client\_id":"service\_plan\_admin\_client","client\_secret":"secret","authorized\_grant\_types":["client\_credentials"],"authorities":["scim.write","clients.admin","scim.read"]}' /oauth/clients</pre>

### <a id="adding-users"></a>Step 3: User Creation

1. Target the auth domain of your SSO service plan. This is the URL you provided when creating a Service Plan in the SSO dashboard.
<pre class="terminal">$ uaac target <span>https</span>://YOUR-AUTH-DOMAIN.login.YOUR-SYSTEM-DOMAIN</pre>
1. Fetch the token for your Service Plan admin client.
<pre class="terminal">$ uaac token client get service\_plan\_admin\_client
Client secret:
</pre>
1. When prompted with `Client secret`, enter the `secret` from the `uaac curl` command above.
1. Add new users by providing the user's email address, username, and password.
<pre class="terminal">$ uaac user add --emails YOUR-USER<span>@</span>EMAIL.COM
User name:  YOUR-USER
Password:  ****
Verify password:  ****
user account successfully added</pre>
1. (Optional) You can also create groups and add users to them.
<pre class="terminal">$ uaac group add
Group name:  YOUR-GROUP
  meta
    version: 0
    created: 2016-02-19T23:17:17.000Z
    lastmodified: 2016-02-19T23:17:17.000Z
  schemas: urn:scim:schemas:core:1.0
  id: 8725b5fd-8da2-4cfc-89b1-c57048f089c2
  displayname: YOUR-GROUP
</pre>
To add a member to your new group, use the following command.
<pre class="terminal">$ uaac member add YOUR-GROUP YOUR-USER</pre>

## <a id='passwd-policy'></a> Define Password Policy for the Internal User Store

Administrators can define the password policy for SSO users that are stored in the Internal User Store. The Internal User Store password policy allows you to define and enforce password rules to manage the kind of passwords users can create.

1. Log into the SSO dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` using your UAA administrator credentials. You can find these credentials in your Pivotal Elastic Runtime tile in Ops Manager under the Credentials tab.

2. Click the plan name and select **Manage Identity Providers** from the dropdown menu.

3. Click **Internal User Store**.

4. Configure the following under the **Password Complexity** section:
    * **Min Length**: Specify the minimum password length.
    * **Uppercase**: Specify the minimum number of uppercase characters are required in the password.
    * **Lowercase**: Specify the minimum number of lowercase characters are required in the password.
    * **Special Characters**: Specify the minimum number of special characters are required in the password.
    * **Numerals**: Specify the minimum number of numeric characters are required in the password.

5. Configure the following under the **Lockout Policy** section:
    * **Failures Allowed**: Specify the number of failed login attempts are allowed before a user is locked out.
    * **Within Milliseconds**: Specify the frequency range that the failed login attempts need to be made before a user is locked out.
    * **Lockout Period**: Specify how long a user is locked out for.
    * **Expires**: Specify how long passwords are valid for before the user needs to enter a new password.

6. Click **Save Identity Provider**.

<p class="note"><strong>Note</strong>: You can use the default, recommended settings or custom settings for password policy and lockout policy.</p>

## <a id='config-ext-prov'></a> Add an External Identity Provider

1. Log into the SSO dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` using your UAA administrator credentials. You can find these credentials in your Pivotal Elastic Runtime tile in Ops Manager under the Credentials tab.

2. Click the plan name and select **Manage Identity Providers** from the dropdown menu.

3. Click **New Identity Provider**.

4. Enter an **Identity Provider Name**.

5. Enter a **Description**.

6. Enter the external identity provider metadata in one of the following ways:
    * Provide the **Identity Provider Metadata URL** and click **Fetch Metadata**.
    * Click **Upload Identity Provider Metadata** to upload XML metadata that you downloaded from your external identity provider.

1. Configure any **User Attributes** or **Custom Attributes** that should be propagated from the identity provider to the service provider. For instance, e-mail addresses, first or last name, or role. 

2. Click **Create Identity Provider** to save the identity provider.

<p class="note"><strong>Note</strong>: To configure the service provider SAML settings, such as the signing of authentication requests and incoming assertions, click on <strong>Configure SAML Service Provider</strong> on the Identity Providers page.</p>

## <a id='delete-idp'></a> Delete an External Identity Provider

1. Log into the SSO dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` using your UAA administrator credentials. You can find these credentials in your Pivotal Elastic Runtime tile in Ops Manager under the Credentials tab.

2. Click the plan name and select **Manage Identity Providers** from the dropdown menu.

3. Click on the name of your external identity provider.

4. Click **Delete** at the bottom of the page.

1. In the popup that appears, click **Delete Identity Provider** to confirm that you want to delete the identity provider, along with all of its configurations.

<p class="note"><strong>Note</strong>: Deleting an external identity provider deletes all of its configurations. Users will no longer be able to authenticate using the external identity provider. This action cannot be undone.</p>

## <a id='config-whitelist'></a> Configure Group Whitelist for an External Identity Provider

An administrator can configure groups from an external identity provider to be propagated in the ID token by including the group in the Group Whitelist. This will provide information about the external groups that the user is a member of.

<p class="note"><strong>Note</strong>: The `roles` scope must be requested by the application and the external group must be listed in the Group Whitelist.</p>

1. Log into the SSO dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` using your UAA administrator credentials. You can find these credentials in your Pivotal Elastic Runtime tile in Ops Manager under the Credentials tab.

2. Click the plan name and select **Manage Identity Providers** from the dropdown menu.

3. Click **Group Whitelist**.

4. Add a group name from your external identity provider.

5. Click **Save Group Whitelist**.