---
title: Testing OIDC Integrations
owner: UAA, SSO
---

This topic describes how a plan administrator can test the OpenID Connect (OIDC) connection between a Single Sign-On (SSO) service plan acting as an Identity Provider (IDP), and another SSO service plan acting as a Relying Party (RP). 

## Testing Your SSO Connection
<ol>
	<li>Log in to Apps Manager at <code>ht<span>tps</span>://console.run.pivotal.io</code>.</li>
	<li>Navigate to the Org and Space where your application is located.</li>
	<li>Locate the service instance of the SSO plan bound to your app.<br />
	<img src="./images/sso-service.png"></li>
	<li>Select the service instance.</li>
	<li>Click <strong>Manage</strong>.<br/>
	<img src="./images/manage-services.png"></li>
	<li>In the <strong>Apps</strong> tab, click your app.<br/>
	<img src="./images/choose-app.png"></li>
	<li>Under <strong>Identity Providers</strong>, select the SSO Identity Plan IDP. Remove any other identity providers.<br/>
	<img src="./images/select-plan-provider.png"></li>
	<li>Return to Apps Manager.</li>
	<li>Click the URL listed below your app to access the application.<br/>
	<img src="./images/app-route-url.png"></li>
	<li>Log in to the app. You will be redirected to the IDP to authenticate.</li>
	<li>Sign in to the IDP.</li>
	<li>If necessary, authorize the necessary scopes to connect the IDP with your app. If you need to do this, the IDP will prompt you.</li>
	<li>After authorizing the scopes, you should be logged into the app.</li>
</ol>

