---
title: About Performance
owner: Identity Service
---

This topic lists resources where you can learn about evaluating the performance of the Single Sign-On (SSO) service for Pivotal Cloud Foundry (PCF).

As an operator, you need to know about the performance of logins and token flows.
For example, you can monitor how long it takes for UAA to issue the tokens that allow users to log in to apps.

The SSO service relies on the performance of User Account and Authentication (UAA) component of Pivotal Application Service.

The following table contains links to topics that describe how to monitor and interpret UAA performance.

<table>
<tr>
<th>For more information about...</th>
<th>See...</th>
</tr>
<tr>
<td>UAA in general</td>
<td><a href="https://docs.pivotal.io/pivotalcf/concepts/architecture/uaa.html">Component: User Account and Authentication (UAA) Server</a></td>
</tr>
<tr>
<td>UAA performance</td>
<td><a href="https://docs.cloudfoundry.org/running/uaa-performance.html">UAA Performance</a></td>
</tr>
<tr>
<td>UAA performance metrics</td>
<td><a href="https://docs.cloudfoundry.org/uaa/uaa-metrics.html">UAA Performance Metrics</a></td>
</tr>
<tr>
<td>UAA metrics</td>
<td><a href="https://docs.pivotal.io/pivotalcf/monitoring/kpi.html#uaa">UAA Metrics</a></td>
</tr>
<tr>
<td>UAA scaling indicators</td>
<td><a href="https://docs.pivotal.io/pivotalcf/monitoring/key-cap-scaling.html#uaa-system.cpu.user">UAA VM CPU Utilization</a></td>
</tr>
</table>
