---
title: Release Notes
owner: Identity Service
---

## <a id="160"></a> v1.6.0

**Release Date: March 20, 2018**

Features included in this release:

* **Expanded API Functionality**: Operators can now use the API to configure plan features that are not yet exposed through the SSO dashboard. 
The SSO service honors values configured through the API so that these values are retained when using the SSO dashboard.
For more information, see the following sections of [Manage Service Plans with UAA API](manage-service-plans-api.html):

	<table>
	<tr>
	<th>
	To learn more about...
	</th>
	<th>
	See...
	</th>
	</tr>
	<tr>
	<td>
	Updating the branding of your login page
	</td>
	<td>
	<a href="manage-service-plans-api.html#branding">Enable Branding</a>
	</td>
	</tr>
	<tr>
	<td>
	Adding default groups for users
	</td>
	<td>
	<a href="manage-service-plans-api.html#default-groups">Add Default Groups for Users</a>
	</td>
	</tr>
	<tr>
	<td>
	Rotating JWT signing keys
	</td>
	<td>
	<a href="manage-service-plans-api.html#rotate-keys">Rotate JWT Signing Keys</a>
	</td>
	</tr>
	</table>

* **Multi-Factor Authentication**: Multi-factor authentication (MFA) is now available as a beta feature through the API.
  You can enable MFA with Google Authenticator for all users logging in to your SSO service plan across your app.
  <p class="note"><strong>Note</strong>: 
     This beta feature is only available in PCF v2.1 and should not be used for production environments.
  </p>
  For more information, see [Enable Multi-Factor Authentications (Preview)](manage-service-plans-api.html#enable-authentication).
* **Plan Visibility for All Orgs**: Operators can now enable an SSO service plan to be visible to all orgs. 
Operators may want to use this feature to provide a test plan to all developers as a default. 
Operators can enable or disable this mode for any new or existing service plan.

* **BOSH Backup and Restore Compatibility**: SSO now works with BOSH Backup and Restore (BBR).
  For more information, see [Backing Up and Restoring](backup-and-restore.html).

* **Availability of Performance Data**: Performance benchmarks, metrics, and scaling indicators are now available.
  For more information, see [About Performance](performance.html). 

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.

