---
title: Release Notes
owner: Identity Service
---

These are release notes for the [<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="X-XX-X"></a> vX.XX.X

**Release Date: XXX XX, XXX**

### <a id="X-XX-X-features"></a> Features

New features and changes in this release:


### <a id="X-XX-X-resolved"></a> Resolved Issues

This release fixes the following issues:


### <a id="X-XX-X-known"></a> Known Issues

This release has the following issues:

* UAA does not function properly with Okta when using UAA as an OIDC provider. 
To update your OIDC provider configurations, see [Add an External Identity Provider](./configure-id-providers.html#config-ext-prov)).


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
