---
title: Release Notes
owner: Identity Service
---

This topic describes the changes in this minor release of
[<%= vars.product_full %>](https://network.tanzu.vmware.com/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-15-3"></a> v1.15.3

**Release Date: March 18, 2024**


## <a id="1-15-2"></a> v1.15.2

**Release Date: January 18, 2024**


## <a id="1-15-1"></a> v1.15.1

**Release Date: November 2, 2023**


## <a id="1-15-2"></a> v1.15.0

**Release Date: October 4, 2023**


## <a id="viewing"></a> Viewing Release Notes for another Version

To view the release notes for another product version,
select the version from the [landing page](https://docs.vmware.com/en/Single-Sign-On-for-VMware-Tanzu-Application-Service/index.html).
