---
title: Release Notes
owner: Identity Service
---

## <a id='view'></a>View Release Notes for Another Version
To view the release notes for another product version, select the version from the drop-down list at the top of this page.

## <a id='14X'></a> v1.4.x

### <a id='146'></a> v1.4.6

**Release Date:** November 9, 2017

* PCF updated stemcell to 3445 series. This is a security upgrade to bump Ubuntu stemcells for USN-3420-2: Linux kernel (Xenial HWE) vulnerabilities.

### <a id='145'></a> v1.4.5

**Release Date:** October 24, 2017

* This release addresses an issue with managing service instances when more than 50 Space Developers exist within a space.

### <a id='144'></a> v1.4.4

**Release Date:** September 27, 2017

* This release addresses the upgrade issues for the Single Sign-On Service tile when legal footer links are configured.
* This release addresses a Java Buildpack issue that causes required memory to increase to 1GB.

### <a id='143'></a> v1.4.3

**Release Date:** August 30, 2017

* This is a security upgrade that resolves the following CVEs:

    * [CVE-2017-8040](https://pivotal.io/security/cve-2017-8040)
    * [CVE-2017-8041](https://pivotal.io/security/cve-2017-8041)
    * [CVE-2017-8044](https://pivotal.io/security/cve-2017-8044)

Additional information can be found at <https://pivotal.io/security>.

### <a id='142'></a> v1.4.2

**Release Date:** June 21, 2017

* PCF updated stemcell to 3363 series. This is a security upgrade to bump Ubuntu stemcells for USN-3334-1: Linux kernel (Xenial HWE) vulnerabilities.

### <a id='141'></a> v1.4.1

**Release Date:** June 15, 2017

**What's New**

* Application bootstrapping is available for app developers to automates and quickly onboard client and resource configurations to Single Sign-On. See the [Set Up PCF Apps to Use SSO](./configure-apps/index.html#internal) topic for more information.

* Admin User Management interface enables plan administrators to browse and manage users across their identity providers through a simple user interface as opposed to through the UIs to help improve productivity. See the [Manage Users](./manage-users.html) topic for more information.

* OpenID Connect and LDAP identity provider interfaces are now available. Plan administrators can now improve their productivity by utilizing a simple user interface to configure and maintain their identity providers. See the [Configure Identity Providers](./configure-id-providers.html) topic for more information.

* You can allow custom attributes to be made available through the /userinfo endpoint for your external identity providers. This can streamline user attributes for your applications. Your application must have the `user_attributes` token once custom attributes mappings and `Persist Custom Attributes` are configured for your identity provider.

* You can configure required user groups through bootstrapping. Require user groups are groups that users must have in order to authenticate to your application and obtain an access token.