---
title: Release Notes
owner: Identity Service
---

These are release notes for the [Single Sign-On (SSO) for Pivotal Cloud Foundry (PCF)](https://network.pivotal.io/products/p-identity).

## <a id="192"></a> v1.9.2

**Release Date: September XX, 2019**

### <a id="192-features"></a> Features

### <a id="191-fixed-issues"></a> Fixed Issues

This release fixes the following issue:

<%= partial '../../identity/partials/identity/large-logo-ki' %>

## <a id="191"></a> v1.9.1

**Release Date: June 10, 2019**

### <a id="191-features"></a> Features

Change in this release:

* Updates the cf CLI to v6.45.0

### <a id="191-fixed-issues"></a> Fixed Issues

This release fixes the following issue:

* The issue where the SSO Developer Dashboard did not load in Microsoft Edge or
  in Firefox v61 and earlier. 

### <a id="191-known-issues"></a> Known Issues

This release has the following issue:

<%= partial '../../identity/partials/identity/large-logo-ki' %>

## <a id="190"></a> v1.9.0

**Release Date: May 16, 2019**

### <a id="190-features"></a> Features

New features and changes in this release:

* **Single Sign-On Developer Dashboard Redesign:**
    The Single Sign-On Developer Dashboard has undergone a redesign. 
    Along with UI changes, the dashboard now displays more information 
    about your apps and has improved help text and tooltips.
* **Quick Documentation Access:**
    Both the Single Sign-On Operator and Developer Dashboards now contain a **Help** link in the navigation bar to the SSO for PCF documentation.
* **Logging and Monitoring documentation:** There is new monitoring and logging documentation for operators. See [Logging and Monitoring](./logging-monitoring.html).
* **Stemcell Update:** The major stemcell line is now the 170 series for Ubuntu Xenial.

### <a id="190-fixed-issues"></a> Fixed Issues

This release fixes the following issues:

* **Single Sign-On Operator Dashboard:** Custom logos and favicons did not appear in the Single Sign-On Operator Dashboard.
* **Plans API Endpoint:** When User Account and Authentication (UAA) contained identity zones that are not managed by SSO for PCF, the `GET /v1/plans` endpoint returned a 500 status error.

###  <a id="190-known-issues"></a>  Known Issues

This release has the following issue:

<%= partial '../../identity/partials/identity/large-logo-ki' %>

## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
