---
title: Release Notes
owner: Identity Service
---

## <a id='view'></a> View Release Notes for Another Version
To view the release notes for another product version, select the version from the drop-down list at the top of this page.

## <a id='13X'></a> v1.3.x

### <a id='136'></a> v1.3.6

**Release Date:** November 9, 2017

* PCF updated stemcell to 3445 series. This is a security upgrade to bump Ubuntu stemcells for USN-3420-2: Linux kernel (Xenial HWE) vulnerabilities.

### <a id='135'></a> v1.3.5

**Release Date:** October 24, 2017

* This release addresses an issue with managing service instances when more than 50 Space Developers exist within a space.
* This release addresses a Java Buildpack issue that causes required memory to increase to 1GB.

### <a id='134'></a> v1.3.4

**Release date: 30 August 2017**

* This is a security upgrade that resolves the following CVEs:

    * [CVE-2017-8040](https://pivotal.io/security/cve-2017-8040)
    * [CVE-2017-8041](https://pivotal.io/security/cve-2017-8041)
    * [CVE-2017-8044](https://pivotal.io/security/cve-2017-8044)

Additional information can be found at <https://pivotal.io/security>.

### <a id='133'></a> v1.3.3

**Release date: 21 June 2017**

* PCF updated stemcell to 3363 series.

### <a id='132'></a> v1.3.2

**Release date: 10 April 2017**

* This releases addresses the upgrade issues introduced in version 1.3.1 of the Single Sign-On Service tile.

### <a id='131'></a> v1.3.1

**Release date: 29 March 2017**

<p class="note warning">
  <strong>Critical</strong>:
  Pivotal Single Sign-On Service upgrade from 1.3.0 to 1.3.1 fails and causes failure of any further "Apply Changes" from Pivotal Operations Manager.
</p>

<p class="tip">
 This notification applies only to customers who have installed Pivotal Single Sign-On Service 1.3.0 and are planning to upgrade to Pivotal Single Sign-On Service 1.3.1. Pivotal Single Sign-On Service 1.3.1 introduces a breaking change which affects customers trying to upgrade from 1.3.0 to 1.3.1 version of the tile. It also has the side effect of stopping any further "Apply Changes" in Pivotal Operations Manager with an error "Error 30014: release 'identity_service_broker/65' has already been uploaded with commit_hash as '6d038495' and uncommitted_changes as 'true'". Please contact Pivotal Support immediately to get assistance with a mitigation for this issue. We will be releasing Pivotal Single Sign-On Service 1.3.2 which contains a fix for this issue in the next few days.

  <br> <br>
  Please refrain from uploading Pivotal Single Sign-On Service Tile 1.3.1 to Pivotal Operations Manager until version 1.3.2 is available for download. Please note that a simple upload of the 1.3.1 tile to Ops Manager can trigger the issue with Apply Changes.
  <br> <br>
</p>

**What's New**

* The Single Sign-On service tile now supports network with multiple subnets at installation time.


### <a id='130'></a> v1.3.0

**Release date: 20 December 2016**

**What's New**

* Default system service plan secures developer apps and automates access to the Cloud Foundry API and pipelines. See the [Using the System Plan](./system-plan.html) topic for more information.

* Identity Provider Discovery streamlines the end user experience when multiple identity providers are enabled for a single app. See the [Identity Provider Discovery](./idp-discovery.html) topic for more information.

* You can set access and refresh token lifetimes at the app level.
