---
title: Release Notes
owner: Identity Service
---

These are release notes for the [Single Sign-On](https://network.pivotal.io/products/p-identity)
service for Pivotal Cloud Foundry (PCF).

## <a id="180"></a> v1.9.0

**Release Date: MMM XX, 2019**

### Features

New features and changes in this release:

*

* 
[//]: # (if there are no new features - only fixes - omit features section?)

### Security Fixes

This release includes the following security fixes:

* 
* 
* 

### Fixed Issues

This release fixes the following issue:

* 

[//]: # (fixes Known Issue in v1.8.n)

### Known Issues

[//]: # (all known issues were fixed so we can say...)
There are no known issues for this release.

## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the drop-down list at the top of this page.
