---
title: Release Notes
owner: Identity Service
---

These are release notes for the [Single Sign-On (SSO) for Pivotal Cloud Foundry (PCF)](https://network.pivotal.io/products/p-identity).

## <a id="1-10-0"></a> v1.10.0

**Release Date: XXX XX, XXXX**

### <a id="1-10-0-features"></a> Features

New features and changes in this release:

- **Authorization Code and Client Credentials Multi-Grant Type:** SSO for PCF v1.10.0 adds support for multiple grant types. This feature enables app developers to build Web + Service-to-Service apps that can use both user and app resources. For more information see, [Web + Service-to-Service App](./web-service-to-service-app.html).
- **Accessibility Design Improvements:** The Single Sign-On Developer Dashboard has more  visual cues to help navigate through the UI and improve accessibility.
- **UX Enhancement:** The Single Sign-On Developer Dashboard has the following usability enhancements:
  - Errors messages are clearer.
  - User authorization scopes, app authorization scopes,
    and admin permissions scopes are more distinct. 
  - Tooltips and page navigation have been improved.
- **Stemcell Update:** The major stemcell line is now the 315 series for Ubuntu Xenial.

### <a id="1-10-0-resolved"></a> Resolved Issues

This release fixes the following issues:

* **Maximum Branding Size:** If logos and favicons are larger than 64&nbsp;KB,
then the installation of the SSO for PCF tile fails.
 
- **Single Sign-On Developer Dashboard Login:** If an operator configures more than 60 plans,
developers are prevented from logging into the Single Sign-On Developer Dashboard.
  
### <a id="1-10-0-known"></a> Known Issues

There are no known issues for this release.


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
