---
title: Release Notes
owner: Identity Service
---

These are release notes for the
[<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-13-0"></a> v1.13.0

**Release Date: September 29, 2020**

### <a id="1-13-0-features"></a> Features

New features and changes in this release:

- **Upgraded Operator Dashboard UI:**
  - Improved external group mapping workflow
  - Easier dashboard navigation
  - With the exception of the Internal User Store,
    the new Operator Dashboard has the same functionality as the Legacy Dashboard
  - Ability to switch back to the Legacy Dashboard


### <a id="1-13-0-known"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
