---
title: Release Notes
owner: Identity Service
---

These are release notes for the [Single Sign-On (SSO) for Pivotal Cloud Foundry (PCF)](https://network.pivotal.io/products/p-identity).

## <a id="XX"></a> v1.10.0

**Release Date: Sept 6, 2019**

### <a id="XX-features"></a> Features

New features and changes in this release:

- **Authorization Code & Client Credentials Multi-Grant Type:**  SSO supports multiple grant types.
  Application developers can build an SSO application that needs to access both resources for users
  and the app.
- **Accessibility Design Improvements:** Single Sign-On Developer Dashboard now has added visual
  cues beyond color to help navigate through the UI.
- **UX Enhancement:** Single Sign-On Developer Dashboard has the following usability enhancements:
  - Error clarity to help understand where and what errors are on the page
  - Clear distinction of scopes between authorization for user, authorization for application,
    and admin permissions
  - Added tooltips and improved page navigation
- **Stemcell Update:** The major stemcell line is now the 315 series for Ubuntu Xenial.


### <a id="XX-fixed-issues"></a> Fixed Issues

This release fixes the following issues:

- **Single Sign-On Tile Install:** Fixed installation of SSO for PCF tile failing when logos
  and favicons are larger than 64 KB.
- **Single Sign-On Developer Dashboard Login:** Fixed bug that prevented logging into
  Single Sign-On Developer Dashboard when Single Sign-On Operator Dashboard had more than 60 plans.


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
