---
title: Release Notes
owner: Identity Service
---

These are release notes for the [<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-12-0"></a> v1.12.0

**Release Date: March 19, 2020**

### <a id="X=1-12-0-features"></a> Features

New features and changes in this release:

- **Preview of New Operator Dashboard UI**
	- What’s in the Preview?
		- Create/Edit of Plans
		- Creating SAML IdP
		- Improved External Group Mapping Workflow
		- Improved Navigation
	- What’s Coming
		- LDAP IdP 
		- OIDC IdP	
- **Stemcell Update:** The major stemcell line is now the 621 series for Ubuntu Xenial.


### <a id="X-XX-X-resolved"></a> Resolved Issues

This release fixes the following issues in the New Operator Dashboard:

- Improved memory usage 
- Fixed unexpected logouts occuring in Operator Dashboard during user session


### <a id="X-XX-X-known"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
