---
title: Release Notes
owner: Identity Service
---

This topic describes the changes in this minor release of
[<%= vars.product_full %>](https://network.tanzu.vmware.com/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="X-XX-X"></a> vX.XX.X

**Release Date: XX XX, 2023**

### <a id="X-XX-X-features"></a> Features

New features and changes in this release:

### <a id="X-XX-X-known"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>

## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
