---
title: Release Notes
owner: Identity Service
---

## <a id='view'></a> View Release Notes for Another Version
To view the release notes for another product version, select the version from the drop-down list at the top of this page.

## <a id='12X'></a> v1.2.x

### <a id='122'></a> v1.2.2

**Release date: 14 October 2016**

* PCF updated stemcell to 3263.7. This release bumps the Ubuntu stemcell for [USN-3099-2](https://www.ubuntu.com/usn/usn-3099-2/): Linux kernel (Xenial HWE) vulnerabilities.


### <a id='121'></a> v1.2.1

**Release date: 20 September 2016**

* PCF updated stemcell to 3263. This is a security upgrade to patch CVE.

### <a id='120'></a> v1.2.0

**Release date: 16 September 2016**

**What’s New**

<div class="note"><strong>Note</strong>: <a href="http://docs.pivotal.io/p-identity/index.html">The Single Sign-On service tile</a> works with the current and future versions of Pivotal Elastic Runtime.<br><br>
    <ul>
          <li> The SSO v1.2.x tiles are compatible with <a href="https://docs.pivotal.io/pivotalcf/customizing/upgrading-products.html">PCF v1.8.x</a> or greater. </li></ul>
</div>

* Single Sign-On (SSO) for Pivotal Cloud Foundry&reg; (PCF) provides the ability to create admin clients. Admin Clients can be used to:
	 
	 * Create, modify and delete identity providers
	 
	 * Create, modify and delete clients
	 
	 * Create, modify and delete users
	 
	 * Create, modify and delete groups/resources

* SSO provides the ability for administrators to disable internal authentication.

* SSO provides the ability for administrators to prevent users from creating new accounts and resetting their passwords.

* SSO provides the ability for administrators to specify zone token expiry.

* SSO provides the ability for developers to configure Application Settings including App Launch URL, App Icon and Show on homepage.

* SSO provides the ability for developers to select identity providers when binding an application.

* SSO introduces whitelabeling support for the following properties set in Operations Manager:
	
	* Logo
	
	* Header accent color
	
	* Footer text
	
	* Footer links
