---
title: Release Notes
owner: Identity Service
---

These are release notes for the
[<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-14-0"></a> v1.14.0

**Release Date: MMM, XX, 2020**

### <a id="1-14-0-features"></a> Features

New features and changes in this release:

-

-

### <a id="1-14-0-known"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/identity/known-issue-okta-oidc" %>


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
