---
title: Release Notes
owner: Identity Service
---

These are release notes for the [<%= vars.product_full %>](https://network.pivotal.io/products/p-identity).

For product versions and upgrade paths, see
[<%= vars.upgrade_planner_full %>](https://upgrade-planner.pivotal.io/).


## <a id="X-XX-X"></a> vX.XX.X

**Release Date: XXX XX, XXX**

### <a id="X-XX-X-features"></a> Features

New features and changes in this release:


### <a id="X-XX-X-resolved"></a> Resolved Issues

This release fixes the following issues:


### <a id="X-XX-X-known"></a> Known Issues

There are no known issues for this release.


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
