---
title: Release Notes
owner: Identity Service
---

These are release notes for the [Single Sign-On](https://network.pivotal.io/products/p-identity) service for Pivotal Cloud Foundry (PCF).


## <a id="170"></a> v1.8.0

**Release Date: MONTH XX, 2018**

### <a id="features"></a> Features

New features and changes in this release:

* FIRST NEW FEATURE

* SECOND NEW FEATURE 

### Security Fixes

This release includes the following security fixes:

* Critical [CVE-2018-XXXX: TITLE OF CVE](https://pivotal.io/security/cve-2018-XXXX)


### <a id="known"></a> Known Issues
There are no known issues for this release.


## <a id="viewing"></a> Viewing Release Notes for Another Version

To view the release notes for another product version,
select the version from the drop-down list at the top of this page.
