---
title: Single Sign-On Subnav Root
owner: Identity Service
---

This topic defines the top level subnav items for the Single Sign-On documentation. 

* <a href="index.html" class="subnav">Overview</a>
* <a href="installation.html" class="subnav">Installation</a>
* <a href="getting-started.html" class="subnav">Getting Started with Single Sign-On</a>
* <a href="system-plan.html" class="subnav">Using the System Plan</a>
* <a href="manage-service-plans.html" class="subnav">Manage Service Plans</a>
* <a href="manage-service-instances.html" class="subnav">Manage Service Instances</a>
* <a href="configure-id-providers.html" class="subnav">Configure Identity Providers</a>
* <a href="idp-discovery.html" class="subnav">Identity Provider Discovery</a>
* <a href="manage-users.html" class="subnav">Manage Users</a>
* <a href="./configure-apps/index.html" class="subnav">Configure Applications</a>
* <a href="manage-resources.html" class="subnav">Manage Resources</a>

* <a href="./adfs/index.html" class="subnav">Active Directory Federation Services Integration Guide</a>

* <a href="./azure/index.html" class="subnav">Azure Active Directory SAML Integration Guide</a>

* <a href="./ca-sso/index.html" class="subnav">CA Single Sign-On Integration Guide</a>

* <a href="./gcp/index.html" class="subnav">Google Cloud Platform OIDC Integration Guide</a>

* <a href="./okta/index.html" class="subnav">Okta Integration Guide</a>

* <a href="./pingfederate/index.html" class="subnav">PingFederate Integration Guide</a>

* <a href="./pingone/index.html" class="subnav">PingOne Cloud Integration Guide</a>

* <a href="release-notes.html" class="subnav">Release Notes</a>