---
title: Configuring a Single Sign-On Service Provider
owner: Identity Service
---

This topic describes how to add an external identity provider to your <%= vars.product_full %> service plan.

##<a id='set-up-saml'></a> Set up SAML

1. Log into the <%= vars.operator_dash %> at `https://p-identity.SYSTEM-DOMAIN` as a Plan Administrator.

2. Select your plan and click **Manage Identity Providers** on the drop-down menu.

	![Screenshot of the SSO Operator Dashboard. A drop-down menu is open and the option Manage Identity Providers is framed in red.](../images/pingone_manage_id_providers.png)

3. Click **New Identity Provider** to create a new identity provider.

	![Screenshot of the New Identity Provider page, which has a form for creating a new provider. Blue buttons labeled Create Identity Provider are at the top-right and bottom-right.](../images/new_id_provider.png)

4. To create a new identity provider, perform the following steps:
	1. Enter an identity provider name into **Identity Provider Name**.
	2. (Optional) Enter a description into **Identity Provider Description**.
	3. Click **SAML File Metadata (optional)**, then click **Upload Identity Provider Metadata** to upload your metadata XML.
	4. (Optional) Under **Advanced SAML Settings**, click **Attribute Mappings** to enter the mappings.

5. Click **Create Identity Provider**.

6. Click **Resource Permissions**.

7. Click **New Permissions Mapping** and perform the following steps:
    1. Enter a **Group Name**.
    2. For **Select Permissions**, select the permissions that the members of the group from the external identity provider should have access to.

8. Navigate to the identity provider list.

9. Click **Group Whitelist** and enter the group names from the external identity provider that should be propagated in the ID token.
