---
title: Configuring a Single Sign-On Service Provider
owner: Identity Service
---

This topic tells you how to add an external identity provider to your <%= vars.product_full %>
service plan.

##<a id='set-up-saml'></a> Set up SAML

1. Log in to the <%= vars.operator_dash %> at `https://p-identity.SYSTEM-DOMAIN` as a Plan Administrator.

2. Select your plan and click **Manage Identity Providers** on the drop-down menu.

    ![The Plans pane. In the dropdown menu for the plan CA SSO PCF SSO,
    the option Manage Identity Providers is highlighted.](../images/ca_sso_manage_id_providers.png)

3. Click **New Identity Provider** to create a new identity provider.

    ![The New Identity Provider Pane.](../images/new_id_provider.png)

2. To create a new identity provider, perform the following steps:
	1. Enter an identity provider name in **Identity Provider Name**.
	2. (Optional) Enter a description in **Identity Provider Description**.
	3. Click **SAML File Metadata (optional)**, then click **Upload Identity Provider Metadata** to upload your metadata XML.
	4. (Optional) Under **Advanced SAML Settings**, click **Attribute Mappings** to enter the mappings.

1. Click **Create Identity Provider**.

1. Click **Resource Permissions**.

2. Click **New Permissions Mapping** and perform the following steps:
    1. Enter a **Group Name**.
    2. For **Select Permissions**, select the permissions that the members of the group from the external identity provider should have access to.

3. Navigate to the identity provider list.

4. Click **Group Whitelist** and enter the group names from the external identity provider that should be propagated in the ID token.
