---
title: CA Single Sign-On Integration Guide Overview
owner: Identity Service
---

CA Single Sign-On (formally known as CA SiteMinder) is a Web Access Management system that supports advanced authentication, risk-based security policies, and federated identities. This documentation describes how to configure a single sign-on partnership between CA Single Sign-On as the identity provider and the Single Sign-On Service (SSO) for Pivotal Cloud Foundry as the service provider.

SSO supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All SSO communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate CA Single Sign-On with Pivotal Cloud Foundry (PCF) you must have the following:

* CA Single Sign-On v12.52 or later
* A certificate signed by a certificate authority

<p class="note"><strong>Note:</strong>
  To configure SAML, you must have the Pivotal Single Sign-On service broker
  installed on your PCF deployment.
  You need to create a plan, grant any plan administrators, and specify any
  organizations this plan should be the authentication authority for.
  For help configuring plans, see the <a href="../manage-service-plans.html">Manage Service Plans</a> topic.
</p>

## <a id='ca-sso'></a> CA Single Sign-On Integration Guide

### Configuring CA Single Sign-On with SSO
Complete both steps below to integrate your deployment with CA Single Sign-On and SSO.

1. <a href="config-ca-sso.html">Configure CA Single Sign-On as an Identity Provider</a>
1. <a href="config-sso.html">Configure a Single Sign-On Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
