---
title: Configuring a Single Sign-On Service Provider
owner: Identity Service
---

This topic describes how to add an Active Directory Federation Services (ADFS) external SAML identity provider to your Pivotal Single Sign-On (SSO) service plan.


## <a id='overview'></a> Overview
When you integrate ADFS with your deployment, you must configure an ADFS external SAML identity provider with
specific settings.
For information about how to add an external SAML identity provider in general, see [Add a SAML Provider](../configure-id-providers.html#config-saml-prov).

To configure an ADFS external SAML identity provider, do the following:

1. [Download Identity Provider Metadata](#download-metadata)
1. [Create a New SAML Identity Provider](#new-id-prov)
1. [Configure Your New Identity Provider](#config-id-prov)

## <a id='download-metadata'></a> Download Identity Provider Metadata

Download the metadata from your Active Directory Federation Services (ADFS) server at the following URL: `https://YOUR-ADFS-HOSTNAME/federationmetadata/2007-06/federationmetadata.xml`

## <a id='new-id-prov'></a> Create a New SAML Identity Provider

Follow the steps below to create a new identity provider:

1. Log in to the SSO Operator Dashboard at `https://p-identity.YOUR-SYSTEM-DOMAIN` as a Plan Administrator.

1. Select your plan and click **Manage Identity Providers** from the dropdown.

	<%= image_tag 'adfs_manage_id_providers.png' %>

1. Click **New Identity Provider** to access configuration options.

	<%= image_tag 'new_id_provider.png' %>

## <a id='config-id-prov'></a> Configure Your New Identity Provider

Follow the steps below to configure a new identity provider:

1. Enter an identity provider name below **Identity Provider Name**.

1. (Optional) Enter a description under **Identity Provider Description**. This is displayed to space developers when they select an identity provider for their app.

1. Select **SAML 2.0** from the dropdown under **Identity Provider Type**.

1. Click **SAML File Metadata (optional)** and then click **Upload Identity Provider Metadata** to upload the XML metadata that you downloaded from your ADFS server. You do not need to enter a **Identity Provider Metadata URL**.
<p class="note"><strong>Note</strong>: Uploading the Identity Provider Metadata as an XML file makes you unable to use the <strong>Fetch Metadata</strong> option to update your Identity Provider metadata later. If metadata changes on the Identity Provider side, you will have to manually re-upload them as an updated XML file.</p>

1. Enter the email domains you want to include as a comma-separated list under **Email Domains**.

1. Under **Advanced Settings**, click **Attribute Mappings (optional)**.
1.  Configure **User Attributes** to determine how user attributes are propagated from the ADFS identity provider to the SSO service provider.
For example, you might want to map ADFS's SAML groups to SSO's `external_groups`. <br>
To map ADFS's SAML groups to SSO's `external_groups`, do the following:

	1. Under **User Schema Attribute**, select **external_groups**.
	2. If you followed the steps in [Create Custom Value Groups](./config-adfs.html#groups), type `groups` under **Attribute Name**.
	An attribute mapping with a customized SAML assertion value looks like this:<br><br>
	<%= image_tag 'customized.png' %><br><br>
	If you did not follow the steps in [Create Custom Value Groups](./config-adfs.html#groups), type `http://schemas.xmlsoap.org/claims/group` under **Attribute Name**.
	An attribute mapping with a non-customized SAML assertion value looks like this:<br><br>
	<%= image_tag 'non-customized.png' %>

1. Click **Create Identity Provider**.

1. From the identity provider list, click on the name of the ADFS identity provider and then click **Group Whitelist**.

1. Follow the instructions in
[Configure Group Whitelist for an External Identity Provider](../configure-id-providers.html#config-whitelist)
to enter the ADFS SAML group names to be propagated in the SSO-generated ID token.
These SAML groups are now included in the roles claim of the user’s ID token.

1. From the identity provider list, click on the name of the ADFS identity provider and then click **Resource Permissions**.

1. Follow the instructions in [Create or Edit Resource Permissions Mapping](../configure-id-providers.html#create-resource-perm) to map the user’s ADFS group memberships to their access token's scopes.
The resource permissions that the SAML groups were mapped to are now included in the scopes claim of the user's access token.
