---
title: Active Directory Federation Services Integration Guide Overview
owner: Identity Service
---

Active Directory Federation Services (AD FS) is a standards-based service that securely shares identity information between applications. This documentation describes how to configure a single sign-on partnership between AD FS as the identity provider and the Single Sign-On Service (SSO) for Pivotal Cloud Foundry as the service provider.

SSO supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All SSO communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate AD FS with Pivotal Cloud Foundry (PCF), you must have the following: 

* An AD FS subscription
* A user with admin privileges

<p class="note"><strong>Note</strong>: To configure SAML, you must <%=vars.sso_plan_enabled%></p>

## <a id='adfs'></a> Active Directory Federation Services Integration Guide

### Configuring AD FS with SSO
Complete both steps below to integrate your deployment with AD FS and SSO.

1. <a href="config-adfs.html">Configure Active Directory Federation Services as an Identity Provider</a>
1. <a href="config-sso.html">Configure a Single Sign-On Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
