---
title: Active Directory Federation Services Integration Guide Overview
owner: Identity Service
---

Active Directory Federation Services (AD FS) is a standards-based service that securely shares identity information between applications. This documentation describes how to configure a single sign-on partnership between AD FS as the Identity Provider (IdP) and the Single Sign-On Service (SSO) for Pivotal Cloud Foundry as the Service Provider (SP).

SSO supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All SSO communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate AD FS with Pivotal Web Services (PWS), you need the following:

<strong>Active Directory Federation Services</strong>

- Active Directory Federation Services subscription

- A user with Administrative privileges

<p class="note"><strong>Note</strong>: To configure SAML, you must <%=vars.sso_plan_enabled%></p>

## <a id='adfs'></a> Active Directory Federation Services Integration Guide

### Configuring AD FS with SSO
Complete both steps below to integrate your deployment with AD FS and SSO.

1. <a href="config-adfs.html" class="subnav">Configure Active Directory Federation Services as an Identity Provider</a>
1. <a href="config-sso.html" class="subnav">Configure a Single Sign-On Service Provider</a>

### Testing and Troubleshooting

- <a href="testing.html" class="subnav">Testing</a>
- <a href="troubleshooting.html" class="subnav">Troubleshooting</a>
