---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve errors that arise when configuring a single sign-on partnership between Active Directory Federation Services and <%= vars.product_full %>.

##<a id='event-viewer'></a> View Errors in Event Viewer

To view errors:

1. Navigate to **Administrative Tools**.

2. Launch **Event Viewer**.
	<%= image_tag '../images/adfs_event_viewer.png' %><%# Images require alt text that describes the image in detail. %>
3. Examine any errors and its details to diagnose problems.
