---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve errors that arise when configuring a single sign-on partnership between Active Directory Federation Services and <%= vars.product_full %>.

##<a id='event-viewer'></a> Event Viewer

1. Navigate to **Administrative Tools**.

2. Launch **Event Viewer**.
	<%= image_tag('../images/adfs_event_viewer.png', :alt => 'The event viewer window.
  The window has three panels. The center panel contains two sections.
  The top section contains a list of error and information events. The first error is selected.
  The bottom section contains more information about the selected error.') %>

3. Examine any errors and its details to diagnose problems.
