---
title: Troubleshooting
owner: Identity Service
---

This topic describes how to resolve errors that arise when configuring a single sign-on partnership between Active Directory Federation Services and Pivotal Single Sign-On (SSO).

##<a id='event-viewer'></a> Event Viewer

1. Navigate to **Administrative Tools**.

2. Launch **Event Viewer**.

3. Examine any errors and its details to diagnose problems.

	<%= image_tag '../images/adfs_event_viewer.png' %>