---
title: Configuring Plan-to-Plan OIDC Integration
owner: SSO
---

This topic tells you how to set up the Plan-to-Plan OpenID Connect (OIDC) integration between two
<%= vars.product_full %> service plans, one acting as an identity provider
(identity provider plan or IDP) and one acting as a relying party (relying party plan or RP).

## <a id="overview"></a> Overview

A Plan-to-Plan OIDC integration enables users from the identity provider plan to authenticate into the relying party plan through OIDC.

To set up this integration:

1. [Meet the prerequisites](#prereqs)
1. [Set up relying party configurations in the identity provider plan](#idp)
1. [Set up the OIDC Identity Provider Configuration in the Relying Party Plan](#rp)
1. [Finish the configuration](#finalizing)

## <a id="prereqs"></a> Prerequisites

You must meet the following prerequisites to set up Plan-to-Plan OIDC integration:

* Your IDP must be visible to your org.
* You must add the IDP as a service instance in a space so you can access the app developer dashboard.

If you have not completed these prerequisites, see [Create or Edit Service Plans](../manage-service-plans.html#create-svc-plan).

## <a id="idp"></a> Set Up Relying Party Configurations in the Identity Provider Plan

Follow the instructions below to set up relying party configurations in the identity provider plan.

1. Navigate to Apps Manager.

1. Select the space.

1. Click into the **Service** tab.

1. Click the service you want to modify.

1. Click **Manage**.

    ![Screenshot of the Single Sign-On service in Apps Manager.
    There is a row of tabs across the top of the pane labeled Overview, Plan, and Settings. To the right of the tabs are links for
    Docs, Support, and Manage. The Manage link is highlighted.](../images/manage-button.png)

1. Click **New App**.

1. Type a name in the **App Name** field.

1. Choose **Web App** from the list of app types.

1. Type a temporary URL in the **Auth Redirect URIs** field. You replace this URL after configuring an identity provider on the relying party plan.

1. In the **Scopes** field, type `openid`. Optionally, select `openid` from the list of **Auto-Approved Scopes**.
By adding `openid` as an automatically approved scope, you prevent users from being prompted to authorize a login from the identity provider.

1. Click **Register App**. When the app is created successfully, you are prompted to download your app credentials.

    ![Screenshot of the Download App Credentials dialog box,
    which has fields that contain the App ID and the obscured App Secret.
    Below the app secret field is the Show App Secret button.
    Text below these fields reads 'this is the last time these App Credentials will be available for download.'
    At the bottom of the box is the Download App Credentials button.](../images/dl-app-creds.png)

1. Click **Download App Credentials** to save the credentials for your app.

    <p class="note warning">
      <strong>Warning:</strong> This is the last time you can download your app credentials.
      VMware recommends that you download the credentials and store them securely.
    </p>

## <a id="rp"></a>Set Up the OIDC Identity Provider Configuration in the Relying Party Plan

To set up the OIDC Identity Provider Configuration in the relying party plan, follow the steps below.

<ol>
	<li>Follow steps 1&ndash;6 in <a href="../configure-external-id.html#config-ext-oidc">Add an OIDC Provider</a>.</li>
	<li>If you use a self-signed certificate where the IDP is located, select the <strong>Skip SSL Validation</strong> checkbox. If you do not use a self-signed certificate, you can leave this box unchecked.</li>
	<li>Select the <strong>Enable Discovery</strong> checkbox and type in the <strong>Discovery Endpoint URL</strong>. <br/><br/>
	This URL is <code>ht<span>tps</span>://IDP-DOMAIN/.well-known/openid-configuration</code>, where <code>IDP-DOMAIN</code> is the domain setting you enter when you
	add the IDP service plan you are integrating.</li>
	<li>Fill in the <strong>Relying Party OAuth Client ID</strong> with the App Client ID from <a href="#idp">the previous section</a>.</li>
	<li>Fill in the <strong>Relying Party OAuth Client Secret</strong> with the App Secret from <a href="#idp">the previous section</a>.</li>
	<li>Confirm that <code>openid</code> is selected as a scope.</li>
</ol>

## <a id="finalizing"></a>Finish Configuration

After you create an app, follow the steps below to finish configuration.

<ol>
	<li>Return to the page for the app you created.
	<li>Click <strong>Edit Config</strong>. The app configuration screen appears.<br/>
	<img src="../images/edit-config.png" alt="Screenshot of the page for an example app in Apps Manager.
  The Edit Config button is at the top of the page and is highlighted. Below that are fields containing
  the App ID and App Secret."></li>
	<li>Add an <strong>Auth Redirect URL</strong>. The URL should read <code>https://RELYING-PARTY-DOMAIN/login/callback/ORIGIN-KEY</code><br><br>
		Where:
		<ul>
			 <li><code>RELYING-PARTY-DOMAIN</code> is the domain setting you enter during Relying Party configuration.</li>
			 <li><code>ORIGIN-KEY</code> is based on the IDP name you set in the <%= vars.operator_dash %>.</li>
		</ul>
	</li>
	<li>Click <strong>Save Config</strong>.</li>
</ol>
