---
title: Troubleshooting Plan-to-Plan OIDC Integration
owner: SSO
---

This topic explains how to resolve common errors that can arise when you configure a single sign-on partnership between two <%= vars.product_full %> service plans, one acting as an Identity Provider (IDP) and one acting as a Relying Party (RP).

##<a id='no-link'></a>  No link for OIDC, or the Service Provider Login page is blank

### Symptom

The service provider login screen looks as follows:

<img src="../images/error-blank-service-provider.png" alt="A blank service provider login screen">

### Cause

* The discovery URL is incorrect or unavailable. No link appears on the login page.
* This error can occur if you do not enable **Skip SSL Connection** and the IDP service plan is
on a <%= vars.platform_name %> instance that uses a self-signed certificate.

##<a id='auth-request'></a> Authorization Request Error

### Symptom

You see an error similar to the following screenshot:

<img src="../images/error-no-client-w-requested-id.png" alt="An invalid authorization request error message.">

### Cause

You might have configured your OAuth client ID incorrectly.

##<a id='401-error'></a> 401 Unauthorized

### Symptom

You see an error similar to the following screenshot:

<img src="../images/error-401-unauth.png"
alt="The error message page reads, There was an error when authenticating against
the external identity provider: 401 Unauthorized.">

### Cause

You may have configured your OAuth client secret incorrectly.

##<a id='405-error'></a> 405 Method Not Allowed

### Symptom

You see an error similar to the following screenshot:

<img src="../images/error-405-method-not-allowed.png" alt="A 405 error message.">

### Cause

* You may have omitted the <code>openid</code> scope in the IDP configuration on the RP service plan.
* You may be requesting the wrong scopes or scopes that are not supported by the other <%= vars.product_short %> plan. Confirm that you are only requesting <code>openid</code> scopes.

##<a id='cannot-find-username'></a> Cannot determine username with given credentials

### Symptom

You see an error similar to the following screenshot:

<img src="../images/error-cannot-determine-username.png" alt="An error message explaining that the service cannot determine a username.">

### Cause

The username you used might not have a value mapped to it. In the IDP attributes, map the "username" attribute to "username."

##<a id='invalid-redirect'></a> Invalid redirect

### Symptom

You see an error similar to the following screenshot:

<img src="../images/error-invalid-redirect.png" alt="An incorrect authorization request error message.">

### Cause

You may have configured the authorized redirect URI incorrectly. Confirm that your callback URL is entered correctly as an authorized redirect URI for the client configurations on the IDP service plan.
