---
title: Okta Integration Guide
owner: Identity Service
---

Legal Notice

Contents

Chapter 1: Pivotal Cloud Foundry and Okta Overview

Chapter 2: Configure Okta as Identity Provider

Chapter 3: Configure Single Sign-On Service Provider

Chapter 4: Federation Testing & Target Services

Chapter 5: Exception Handling

Chapter 6: Summary
  

## <a id='chapter2'></a> Chapter 2: Configure Okta as Identity Provider

# 

SAML Setup

In Pivotal Cloud Foundry

1. Sign in as a plan administrator. You should land on the Plans Dashboard.

2. Click on Manage Identity Providers in the dropdown off by selecting the plan name.

![](https://lh3.googleusercontent.com/QjScF2tdI4SnyaomA9mYtezptb1JPtuXVrAZHQP6XzUDbIemJs3pOfvFoQnt_6JiNKponmK_pUI1VcbeNqDSmIyVD8XnpfwCRlJzs-eoP11LQeYHsB4x-tWMk-qyWO-XPM9wOpBB)

1. Click on Configure SAML Service Provider.

![](https://lh4.googleusercontent.com/jju7maQH5IpYtZItaexChGKGmvKkyA2L1Om-6uCzeCtMZdv99ebT9ap1w2Qn3nxfBwN7XEvNx5mR_LvPFefUoCnHZae5j-_m8JPRaAOmdbfw225ChgKzrs_iVq4IBZ4LPMBdYHMl)

1. (Optional) Select Perform signed authentication requests.

2. (Optional) Select Sign incoming assertions.

3. Click Download Metadata to download the service provider metadata.

![](https://lh4.googleusercontent.com/I0yjTAWJTpD88oBAbMZZPNhsevUnqU4ZGNx-_YUEMX6J1MOw89l8S2yRqXaj5yPqQXRKOPGD7vnh2dFfBVOINW_oQsl5sQLQRrd5JexOC0XNAPjoQYRyec4G8S_bTdbSZF79r3oY)

In Okta

1. Sign in as an Okta administrator.

2. Navigate to your application, then click on the Sign On tab.

3. Under Settings, click the Edit button, and select the SAML 2.0 radio button.

![](https://lh5.googleusercontent.com/EFT9YxsVohi_yCrtnuDohOMAlQtMcs3VQ__sjKHq6N5lFii1FSNtCqA8RI0dhR3yawq1YtwSltA2NcfZ6blbJ-4-Dz1oWv31Nup5gTRJ8f8dNnEhWuvmt9S5YEsrhAcNiTXWJsRd)

1. Click on the General tab.

2. Under SAML Settings, click the Edit button followed by the Next button to configure SAML.

3. In the SAML Settings section fill in the following configurations:

![](https://lh3.googleusercontent.com/TxEA4ninOalijlM7g3fodT-aRfxxcbAoCZU3ps7IH9uz2MOEpzo4ihy7Hq5kkX0vIVh2i8uEJ2hjlAzz4ixuDPCsHpYkY_Yo7VhF9dvTvrIwU8oDcEhz_1unJgNzomInO2hsua6p)

1. Input the AssertionConsumerService Location URL from the downloaded service provider metadata into Single sign on URL. Example: “https://<AUTH-DOMAIN>/saml/SSO/alias/<AUTH-DOMAIN>”

2. Input the Auth Domain URL into Audience URI (SP Entity ID).

3. Select a Name ID format.

4. Select an Application username.

5. (Optional) Configure Single Logout.
    
    1. Click Show Advanced Settings.
    
    2. Select Allow application to initiate Single Logout for Enable Single Logout.
    
    3. Input the SingleLogoutService Location URL from the downloaded service provider metadata into Single Logout URL.
    
    4. Input the Auth Domain URL into SP Issuer.
    
    5. Upload Signature Certificate from the downloaded service provider metadata.

6. (Optional) Specify any Attribute Statements that you want to map to users in the ID token.

7. (Optional) Specify any Group Attribute Statements that you want to map to users in the ID token. This is a group that users are in within Okta.

1. Select the Next button followed by the Finish button.

# 

Note: The Auth Domain can be found on the View or Edit Plans page.

