---
title: Okta Integration Guide
owner: Identity Service
---

Legal Notice

Contents

Chapter 1: Pivotal Cloud Foundry and Okta Overview

Chapter 2: Configure Okta as Identity Provider

Chapter 3: Configure Single Sign-On Service Provider

Chapter 4: Federation Testing & Target Services

Chapter 5: Exception Handling

Chapter 6: Summary
  

## <a id='chapter1'></a> Chapter 1: Pivotal Cloud Foundry and Okta Overview


Document Overview

The scope of this document is to provide the necessary steps to configure the federation partnership to achieve single sign-on (SSO) between Okta, acting as the Identity Provider (IdP), and Pivotal Single Sign-On Service, acting as the Service Provider (SP). The Pivotal Single Sign-On service enables single sign-on to Pivotal Cloud Foundry and applications deployed on Pivotal Cloud Foundry.

# 

Pivotal Cloud Foundry Overview

Pivotal Cloud Foundry is an enterprise platform-as-a-service (Paas) that is a key enabler for achieving the modern, software-driven organization. Pivotal Cloud Foundry allows developers to focus on building applications by taking care of deploying, upgrading, operating and scaling. IT empowers businesses to deliver applications and update them with new features with disruptive speed.

# 

Okta Overview

Okta is an enterprise-grade, identity management service built for the cloud, but it is also compatible with on-premise applications. With Okta, IT can manage employee access to applications or devices. Okta is a cloud application that integrates with cloud and on-premise applications, directories, and identity management systems.

# 

Prerequisites

Pivotal Cloud Foundry - v1.6.0.0

Okta - 2016.07

#

Pivotal Cloud Foundry Deployment

Before you configure SAML, you must have the Single Sign-On service broker installed on your PCF deployment. You need to create a plan, grant any plan administrators and specify any organizations this plan should be the authentication authority for. For help configuring plans, see <http://docs.pivotal.io/p-identity/administering.html#plan-management>.

# 

Pivotal Web Services Deployment

Before you configure SAML, you must contact Pivotal to have Single Sign-On enabled for your PWS organizations via plan(s) creation. You should be added as a plan administrator. For help configuring plans, see <http://docs.pivotal.io/p-identity/administering.html#plan-management>.

# 

## <a id='chapter2'></a> Chapter 2: Configure Okta as Identity Provider

# 

SAML Setup

In Pivotal Cloud Foundry

1. Sign in as a plan administrator. You should land on the Plans Dashboard.

2. Click on Manage Identity Providers in the dropdown off by selecting the plan name.

![](https://lh3.googleusercontent.com/QjScF2tdI4SnyaomA9mYtezptb1JPtuXVrAZHQP6XzUDbIemJs3pOfvFoQnt_6JiNKponmK_pUI1VcbeNqDSmIyVD8XnpfwCRlJzs-eoP11LQeYHsB4x-tWMk-qyWO-XPM9wOpBB)

1. Click on Configure SAML Service Provider.

![](https://lh4.googleusercontent.com/jju7maQH5IpYtZItaexChGKGmvKkyA2L1Om-6uCzeCtMZdv99ebT9ap1w2Qn3nxfBwN7XEvNx5mR_LvPFefUoCnHZae5j-_m8JPRaAOmdbfw225ChgKzrs_iVq4IBZ4LPMBdYHMl)

1. (Optional) Select Perform signed authentication requests.

2. (Optional) Select Sign incoming assertions.

3. Click Download Metadata to download the service provider metadata.

![](https://lh4.googleusercontent.com/I0yjTAWJTpD88oBAbMZZPNhsevUnqU4ZGNx-_YUEMX6J1MOw89l8S2yRqXaj5yPqQXRKOPGD7vnh2dFfBVOINW_oQsl5sQLQRrd5JexOC0XNAPjoQYRyec4G8S_bTdbSZF79r3oY)

In Okta

1. Sign in as an Okta administrator.

2. Navigate to your application, then click on the Sign On tab.

3. Under Settings, click the Edit button, and select the SAML 2.0 radio button.

![](https://lh5.googleusercontent.com/EFT9YxsVohi_yCrtnuDohOMAlQtMcs3VQ__sjKHq6N5lFii1FSNtCqA8RI0dhR3yawq1YtwSltA2NcfZ6blbJ-4-Dz1oWv31Nup5gTRJ8f8dNnEhWuvmt9S5YEsrhAcNiTXWJsRd)

1. Click on the General tab.

2. Under SAML Settings, click the Edit button followed by the Next button to configure SAML.

3. In the SAML Settings section fill in the following configurations:

![](https://lh3.googleusercontent.com/TxEA4ninOalijlM7g3fodT-aRfxxcbAoCZU3ps7IH9uz2MOEpzo4ihy7Hq5kkX0vIVh2i8uEJ2hjlAzz4ixuDPCsHpYkY_Yo7VhF9dvTvrIwU8oDcEhz_1unJgNzomInO2hsua6p)

1. Input the AssertionConsumerService Location URL from the downloaded service provider metadata into Single sign on URL. Example: “https://<AUTH-DOMAIN>/saml/SSO/alias/<AUTH-DOMAIN>”

2. Input the Auth Domain URL into Audience URI (SP Entity ID).

3. Select a Name ID format.

4. Select an Application username.

5. (Optional) Configure Single Logout.
    
    1. Click Show Advanced Settings.
    
    2. Select Allow application to initiate Single Logout for Enable Single Logout.
    
    3. Input the SingleLogoutService Location URL from the downloaded service provider metadata into Single Logout URL.
    
    4. Input the Auth Domain URL into SP Issuer.
    
    5. Upload Signature Certificate from the downloaded service provider metadata.

6. (Optional) Specify any Attribute Statements that you want to map to users in the ID token.

7. (Optional) Specify any Group Attribute Statements that you want to map to users in the ID token. This is a group that users are in within Okta.

1. Select the Next button followed by the Finish button.

# 

Note: The Auth Domain can be found on the View or Edit Plans page.

# 

## <a id='chapter3'></a> Chapter 3: Configure Single Sign-On Service Provider

# 

SAML Setup

In Pivotal Cloud Foundry

1. Sign in as a plan administrator. You should land on the Plans Dashboard.

2. Click on Manage Identity Providers in the dropdown off by selecting the plan name.

![](https://lh3.googleusercontent.com/QjScF2tdI4SnyaomA9mYtezptb1JPtuXVrAZHQP6XzUDbIemJs3pOfvFoQnt_6JiNKponmK_pUI1VcbeNqDSmIyVD8XnpfwCRlJzs-eoP11LQeYHsB4x-tWMk-qyWO-XPM9wOpBB)

1. Click New Identity Provider to create a new identity provider.

![](https://lh3.googleusercontent.com/uy1HGK8iC8weB6Az2Ccyw3Yh_6crE1BEZ2LR3WQXPchjpemBZadkzt3vbWqhcZaHournPOf8S8722eOfdnjakaJ8bbfUwyeWnogjbrIUARYLNDTwF-Xdk3KI5XuwkZoyMY0SsgJe)

1. Input an identity provider name into Identity Provider Name.

2. (Optional) Input a description into Identity Provider Description.

3. Input Identity Provider Metadata by either fetching metadata from an endpoint or uploading XML

4. (Optional) Input any Attribute Mappings.

1. Click Resource Permissions.

2. Click New Permissions Mapping.
    
    1. Input a Group Name.
    
    2. Select Permissions that the members of group from the external identity provider should have access to.

3. Navigate to the identity provider list.

4. Click Group Whitelist.
    
    1. Input external group names that should be propagated in the ID token.

# 

## <a id='chapter4'></a> Chapter 4: Federation Testing & Target Services

# 

Service Provider Initiated Testing

1. Sign into Apps Manager and navigate to the organization and space that the app is located.

2. Click Manage on the service instance that the app is bound to.

![](https://lh4.googleusercontent.com/Hxibw6CHQPaX9MKkCm8Bc2n4RWEDKf_M4BHnsKnEGH3NmGOHtOKUEQlnT2IooSvC0DnHDOg-fCTWoRykvDPUOROZTIysfqhErxNch5OJEQZDjKLOqbvO1rslWE9PCC4bXcZq6k4O)

1. Navigate to the Apps tab and select the app.

![](https://lh3.googleusercontent.com/yn26pNDc17gVsdCU3QPAFotaJWfE9I-9Y_ZpAT5zmfY8L-POJiVuwFLpFBmscX14-x71nPW1RSZfPBTOTUSmnGHU2KZ21sKw7fYQeJF0DcyKxcBDVCa_a1rRJszXV4vwZ7qf8iyx)

1. Select the configured identity provider under Identity Providers.

![](https://lh6.googleusercontent.com/dFFdAzpVu1jO5CdXa1vz36vWpFE4_XxyO0A9uhui62blXRNUQFUI1jPULGvQ6NbWGHcm9_NhIqvpM0W3MUb_6uFGYe5-dSaD1-JmyRo4YtWN2VfeGCEvIa_pGNwiPcTT0SGZyrm7)

1. In Apps Manager, click the app URL to be redirected to the identity provider to authenticate.

![](https://lh3.googleusercontent.com/7GQEyONejblwO93FjXU_8nDISKVfole1kMYiDzsvn8ZgGjfBQSb4qQc24fK5qmKYfsV6QeIJ56kT6bYaDpw4BOnNNI8zDnf3ZLR6ioitfi6qhpRPZ9REDn6J5oevR9P0XLKrHhtT)

![](https://lh4.googleusercontent.com/az7ns5tlOaNWUJUr98EotJqqRz328twnLOSYnl2Xf0WNcqOesyUxq8Uka_Xlf6ycyZHyH02irxHxjQxIa9LGriG2vofJ4KYhnS3_dGbTDe4fpy8ZpysGO8FKobo5SRcQ8Ox1lRJI)

![](https://lh5.googleusercontent.com/jFnc-mUAusOiauxbbCVPRgswSE5uIkCg4I2E_ixpa1Nw1I16wrJapim8Lca-LKZHjaH4uS_dE0QQ2Gf8y_kNX9cqGIja0NW9bgvlwMqWvD3ekvMddGhIbWq444lHOwoIdooHLCAQ)

1. Once authenticated, the app should ask for authorization to the necessary scopes.

![](https://lh6.googleusercontent.com/ajWlKGDxCeRXj4WuNqfVnk6cTZZr85Uzqf4kNi5jpXAGOU4P6lKW9EpXAzQNb_Ufrv3DYzCpcyHonBc0YCBYb_IXiEWpmI6MKEH-Z4eLEP7o_ZYafWI06Ru_sFtr9Da4zz-1IQB7)

1. Finally, you should see the access token and ID token.

![](https://lh5.googleusercontent.com/vnsFZOVQ45JTBlet8MtH5MiewJGb-L3LkSVW6LlyIMs7TKhr9S9ZrRznHuqotlTTiVaRKp4d_VV1SaP5CN-nHeF8gNDY2iksfOn_-hmTH7WufJYw0oSsujl0tKvFoCHWJTGdSswC)

# 

Identity Provider Initiated Testing

# 

Note: The Single Sign-On service does not support identity provider initiated flow into applications, but it does redirect the user to the UAA page to select applications assigned to the user.

# 

1. Sign into Okta.

![](https://lh5.googleusercontent.com/jFnc-mUAusOiauxbbCVPRgswSE5uIkCg4I2E_ixpa1Nw1I16wrJapim8Lca-LKZHjaH4uS_dE0QQ2Gf8y_kNX9cqGIja0NW9bgvlwMqWvD3ekvMddGhIbWq444lHOwoIdooHLCAQ)

1. Navigate to the application.

![](https://lh6.googleusercontent.com/6fE0f7a3KagErgAMlGAOVomhR_WGz3TcO34KNp7LD_GGaMc9u_tkhdhDYd2ue0QqzzCJ6Hua80ZUdcLsxIVjzEPxuQPcDQ4_7BsbBqhAyUkWAmlFkZbkYTbRJIOsu22A5gCKefeE)

1. You should be redirected to the page that lists applications you have access to.

![](https://lh6.googleusercontent.com/GxU7Uc8GRUT-XZzqAPMOlUMMwcfQl1O3p-V_PzgnzZnBWGmxrxn-83IXIw2pjVHII66yPnX6ppdy6S7pTGakBZH1oW_WIf7_krxWmDW0QBix6E63YFO7x8Hdv_kf-9Ej1XAjjf5b)

#   
  


Single Sign-Off Testing

1. Sign into the sample application. You should see information about the access and ID token. You should also see the “What Do You Want to Do?” section.

![](https://lh3.googleusercontent.com/AsVOC4RLqfA3G35j9QlTL5QN4Xm3BfckOD7RFnJCBDIbiCL9BluMm5bD2NEDRdt23fAEWOVFFflua-mVgN8YNYgjPV3zw0Tj4CgPIU_GV73Ea51JKv_TTy-bXKrSlt26jmyfsdho)

1. Click Log out and you will be logged out and redirected to the Okta log in page.

![](https://lh5.googleusercontent.com/jFnc-mUAusOiauxbbCVPRgswSE5uIkCg4I2E_ixpa1Nw1I16wrJapim8Lca-LKZHjaH4uS_dE0QQ2Gf8y_kNX9cqGIja0NW9bgvlwMqWvD3ekvMddGhIbWq444lHOwoIdooHLCAQ)

# 

## <a id='chapter5'></a> Chapter 5: Exception Handling

* Okta Instance is Inactive

![](https://lh4.googleusercontent.com/_zMB7eYd62vRW2P0fmnODRcnlFch2C_3-BOj6KCp-7NUpw0GIejtHttrIBlCMH5mTAJ6zIk8bdhYmZOhPj_YNXokSLAEIFYQiwrNlzE1HNtvcevtl-QIl3G8iw621TP03iWIhtmV)

* Service provider Entity ID is misconfigured in Okta

![](https://lh5.googleusercontent.com/jv-B_BMENRJXk-JaULFVPFInf7Jc8Qry9WIDazW1U_vvVOs7yMMuDWYjoXOS0Vu73aPuD7WDbIczem-milUYuWcCgucgp0w8MdSMLCN8XfRs3R6HVUzZjUSb1ByL_CC93abntizI)

* When Single Sign On URL is misconfigured in Okta

![](https://lh6.googleusercontent.com/rRSIOwJ9tCukruFMW74r9CutOX2jC9aE1oSBLPDCrS--MCpe5n3ALuvHmeJR5X18o6LgUdJy0xKSIojBHZJ9pxrP84vKKdLJVEWb9H36YfLiBW3kpaACMMsn5Z1vKi3MiS6JnojO)

* When Recipient URL is misconfigured in Okta

![](https://lh5.googleusercontent.com/jv-B_BMENRJXk-JaULFVPFInf7Jc8Qry9WIDazW1U_vvVOs7yMMuDWYjoXOS0Vu73aPuD7WDbIczem-milUYuWcCgucgp0w8MdSMLCN8XfRs3R6HVUzZjUSb1ByL_CC93abntizI)

* When Destination URL is misconfigured in Okta

![](https://lh5.googleusercontent.com/gXlglllhzK6MozelgI9xRoIk10zsFJANlhMzhw9fQZ1gCZkthpsc98VE0_eMZn_GCvCmO9zp3823WfM7rNornZD5vXup4qyXo5KiOKH39GIPOoKUc2fQNtCO8vhkTIDcQ8MPZ-Bf)

* When identity provider Entity ID is misconfigured in the Single Sign-On plan settings

![](https://lh5.googleusercontent.com/QoG-L3OYGhRBJrTaSp1tBd9j8F9KjXxZVoSOoqZ1Ha7fWGoWxcCGdWerfdbchmztP6RQhYR4kpipBruwWiACvM0Y8FUzXBFawowfFEGeEFL1DMVAWVnsGrHMALSbkUSvmEpISYAn)

* When identity provider SSO URL is misconfigured in Single Sign-On plan settings

![](https://lh3.googleusercontent.com/2zRmi2dAzEuZX-yy-Z5QNUT0GY52pcbGydjF3XmXuF9fXTvKevswXgFIWxTzIWlJz3KE51hKLYmVYcy8Of8Rxu62MVUQ-cvRzTVdZIcS6WPTUOvwCefJSQSlN2Ac-7u0AxtZW7bv)

# 

## <a id='chapter6'></a> Chapter 6: Summary

* The Single Sign-On service supports service provider-initiated authentication flow

* The Single Sign-On service does not supports identity provider-initiated authentication flow

* The Single Sign-On service supports Single Logout

* All communication is over SSL

#