---
title: Okta Integration Guide
owner: Identity Service
---

Legal Notice

Contents

Chapter 1: Pivotal Cloud Foundry and Okta Overview

Chapter 2: Configure Okta as Identity Provider

Chapter 3: Configure Single Sign-On Service Provider

Chapter 4: Federation Testing & Target Services

Chapter 5: Exception Handling

Chapter 6: Summary
  


## <a id='chapter3'></a> Chapter 3: Configure Single Sign-On Service Provider

# 

SAML Setup

In Pivotal Cloud Foundry

1. Sign in as a plan administrator. You should land on the Plans Dashboard.

2. Click on Manage Identity Providers in the dropdown off by selecting the plan name.

![](https://lh3.googleusercontent.com/QjScF2tdI4SnyaomA9mYtezptb1JPtuXVrAZHQP6XzUDbIemJs3pOfvFoQnt_6JiNKponmK_pUI1VcbeNqDSmIyVD8XnpfwCRlJzs-eoP11LQeYHsB4x-tWMk-qyWO-XPM9wOpBB)

1. Click New Identity Provider to create a new identity provider.

![](https://lh3.googleusercontent.com/uy1HGK8iC8weB6Az2Ccyw3Yh_6crE1BEZ2LR3WQXPchjpemBZadkzt3vbWqhcZaHournPOf8S8722eOfdnjakaJ8bbfUwyeWnogjbrIUARYLNDTwF-Xdk3KI5XuwkZoyMY0SsgJe)

1. Input an identity provider name into Identity Provider Name.

2. (Optional) Input a description into Identity Provider Description.

3. Input Identity Provider Metadata by either fetching metadata from an endpoint or uploading XML

4. (Optional) Input any Attribute Mappings.

1. Click Resource Permissions.

2. Click New Permissions Mapping.
    
    1. Input a Group Name.
    
    2. Select Permissions that the members of group from the external identity provider should have access to.

3. Navigate to the identity provider list.

4. Click Group Whitelist.
    
    1. Input external group names that should be propagated in the ID token.

