---
title: Okta Integration Guide Overview
owner: Identity Service
---

Okta is an enterprise identity management and single sign-on service that integrates with applications in the cloud, on-premises, or on a mobile device. This documentation describes how to configure a single sign-on partnership between Okta as the identity provider and the Single Sign-On Service (SSO) for Pivotal Cloud Foundry as the service provider.

SSO supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All SSO communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate Okta with Pivotal Cloud Foundry (PCF), you must have the following:

* Okta v2016.07 or later
* A user with app admin privileges

<p class="note"><strong>Note</strong>: To configure SAML, you must have the Pivotal Single Sign-On service broker installed on your PCF deployment. You need to create a plan, grant any plan administrators, and specify any organizations this plan should be the authentication authority for. For help configuring plans, see the <a href="../manage-service-plans.html">Manage Service Plans</a> topic.</p>

## <a id='okta'></a> Okta Integration Guide

### Configuring Okta with SSO
Complete both steps below to integrate your deployment with Okta and SSO.


1. <a href="config-okta.html">Configure Okta as an Identity Provider</a>
1. <a href="config-sso.html">Configure a Single Sign-On Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
