---
title: Okta Integration Guide
owner: Identity Service
---

The scope of this document is to provide the necessary steps to configure the federation partnership to achieve single sign-on (SSO) between Okta, acting as the Identity Provider (IdP), and Pivotal Single Sign-On Service, acting as the Service Provider (SP). The Pivotal Single Sign-On service enables single sign-on to Pivotal Cloud Foundry and applications deployed on Pivotal Cloud Foundry.

## <a id='overview'></a>Pivotal Cloud Foundry and Okta Overview

**Pivotal Cloud Foundry** is an enterprise platform-as-a-service (Paas) that is a key enabler for achieving the modern, software-driven organization. Pivotal Cloud Foundry allows developers to focus on building applications by taking care of deploying, upgrading, operating and scaling. IT empowers businesses to deliver applications and update them with new features with disruptive speed.

**Okta** is an enterprise-grade, identity management service built for the cloud, but it is also compatible with on-premise applications. With Okta, IT can manage employee access to applications or devices. Okta is a cloud application that integrates with cloud and on-premise applications, directories, and identity management systems.

The **Single Sign-On (SSO) service** supports service provider-initiated authentication flow and single logout. It does not support identity provider-initiated authentication flow. All SSO communication takes place over SSL.

## <a id='prereqs'></a>Prerequisites

To integrate Okta with Pivotal Cloud Foundry, you need:

- Pivotal Cloud Foundry, version 1.6.0.0 or later

- Okta, version 2016.07 or later

- To configure SAML, you must <%=vars.sso_plan_enabled%>

## <a id='chapters'></a> Chapters

- [Configure Okta as an Identity Provider](config-okta.html)

- [Configure a Single Sign-On Service (SSO) Provider for <%=vars.product_name%>](config-sso.html)

- [Testing and Target Services](testing.html)

- [Troubleshooting](troubleshooting.html)

