---
title: Testing
owner: Identity Service
---

This topic describes how an administrator can test the connection between <%= vars.product_full %> and Okta services.
An administrator can test both service provider and identity provider connections.

<%=vars.test_with_sample_apps%>

## <a id="service-provider"></a>Test Your Service Provider Connection

1. Log in to Apps Manager at `https://apps.SYSTEM-DOMAIN` and navigate to the org and space where your application is located.

2. Under **Services**, locate the service instance of the <%= vars.product_short %> plan bound to your app and click **Manage**.

    ![Screenshot of overview tab in Apps Manager. Under the Services section, the
    button for the Single Sign-On service is highlighted.](../images/click_service.png)

    ![Screenshot of the Single Sign-On service screen in Apps Manager.
    Below the title, the manage link is highlighted.](../images/okta_click_manage.png)

1. Under the **Apps** tab, click your app.

    ![Screenshot of Apps tab in Apps Manager showing a tile for the authcode-sample app.](../images/select_authcode_app_tile.png)

1. Under **Identity Providers**, select the Okta identity provider.

    ![Screenshot of the app configuration screen. The Okta PCF SSO button in the Identity Providers section is highlighted.](../images/click_okta_pcf.png)

1. Return to Apps Manager and click on the URL below your app to be redirected to the identity provider to authenticate.

    ![Screenshot of overview tab in Apps Manager. Under the Apps section, the URL in the Route column of table is highlighted](../images/authcode_sample_address.png)

1. Click the link.

    ![A browser window with the authcode sample web app showing. The app has a link at the bottom of the web page with the text "Log in via Auth Code Grant Type"](../images/authcode_sample.png)
1. On the identity provider sign-in page, enter your credentials and click **Sign In**.

    ![Screenshot of the sign-in page with fields to enter a username and password. Below is the "Sign in" button.](../images/pivotal_signing.png)

1. The app asks for authorization to the necessary scopes. Click **Authorize**.

    ![Screenshot of the Application Authorization page for the authcode sample app. There are check boxes for two scopes: openid and Read TODO list. Both checkboxes are selected. At the bottom of the page, there are buttons for Deny and Authorize.](../images/popup_authcode.png)

1. The access token and ID token displays.

    ![Screenshot of a page showing JSON for the result of calling /userinfo, the access token that was used, and the ID token. At the bottom of the page there are links for TODO list, See your account profile, and Log out.](../images/okta_authcode_sample_code.png)

## <a id="identity-provider"></a>Test Your Identity Provider Connection

<p class="note"><strong>Note:</strong> <%= vars.product_short %> does not support identity provider-initiated flow into apps, but it does redirect the user to the User Account and Authentication (UAA) page to select apps
	assigned to the user.
</p>

1. Sign in to Okta.

    ![Screenshot of the sign-in page with fields to enter a username and password. Below is the "Sign in" button.](../images/pivotal_signing.png)

1. Navigate to the app tile and click it.

    ![Screenshot of page with a tab named work. Inside the tab is a tile named Pivotal Cloud Foundry.](../images/pcf_app_tile.png)

1. You are redirected to the page that lists apps you have access to.

    ![Screenshot of Apps Manager apps tab with tiles for three apps shown.](../images/app_list.png)

## <a id="sso"></a>Test Your Single Sign-Off

Test single sign-off to ensure that when users log out of the app, they are logged out of Okta as well.

1. Sign into the sample app. Information about the access and ID token displays, as well as the **What do you want to do**” section.
1. Under **What do you want to do?**, click **Log out**.

    ![Link in the What do you want to do section. There are links for TODO list, See your account profile, and Log out.](../images/what_do_you_want.png)

1. You are logged out and redirected to the Okta login page.

    ![Screenshot of the sign-in page with fields to enter a username and password. Below is the "Sign in" button.](../images/pivotal_signing.png)
