---
title: Okta Integration Guide
owner: Identity Service
---

## <a id='troubleshooting'></a> Troubleshooting

#### Symptom

<%= image_tag '../images/error_404.png' %>

#### Explanations

- Okta Instance is Inactive

- Recipient URL is misconfigured in Okta

- Identity provider SSO URL is misconfigured in Single Sign-On plan settings


#### Symptom

<%= image_tag '../images/error_no_valid_assertion.png' %>

#### Explanations

- Service provider Entity ID is misconfigured in Okta

- Destination URL is misconfigured in Okta


#### Symptom

<%= image_tag '../images/error_webpage_not_available.png' %>

#### Explanation

- Single Sign On URL is misconfigured in Okta


#### Symptom

<%= image_tag '../images/error_metadata_not_found.png' %>

#### Explanation

- When identity provider Entity ID is misconfigured in the Single Sign-On plan settings

