---
title: Okta Integration Guide
owner: Identity Service
---

Legal Notice

Contents

Chapter 1: Pivotal Cloud Foundry and Okta Overview

Chapter 2: Configure Okta as Identity Provider

Chapter 3: Configure Single Sign-On Service Provider

Chapter 4: Federation Testing & Target Services

Chapter 5: Exception Handling

Chapter 6: Summary
  

## <a id='chapter5'></a> Chapter 5: Exception Handling

* Okta Instance is Inactive

![](https://lh4.googleusercontent.com/_zMB7eYd62vRW2P0fmnODRcnlFch2C_3-BOj6KCp-7NUpw0GIejtHttrIBlCMH5mTAJ6zIk8bdhYmZOhPj_YNXokSLAEIFYQiwrNlzE1HNtvcevtl-QIl3G8iw621TP03iWIhtmV)

* Service provider Entity ID is misconfigured in Okta

![](https://lh5.googleusercontent.com/jv-B_BMENRJXk-JaULFVPFInf7Jc8Qry9WIDazW1U_vvVOs7yMMuDWYjoXOS0Vu73aPuD7WDbIczem-milUYuWcCgucgp0w8MdSMLCN8XfRs3R6HVUzZjUSb1ByL_CC93abntizI)

* When Single Sign On URL is misconfigured in Okta

![](https://lh6.googleusercontent.com/rRSIOwJ9tCukruFMW74r9CutOX2jC9aE1oSBLPDCrS--MCpe5n3ALuvHmeJR5X18o6LgUdJy0xKSIojBHZJ9pxrP84vKKdLJVEWb9H36YfLiBW3kpaACMMsn5Z1vKi3MiS6JnojO)

* When Recipient URL is misconfigured in Okta

![](https://lh5.googleusercontent.com/jv-B_BMENRJXk-JaULFVPFInf7Jc8Qry9WIDazW1U_vvVOs7yMMuDWYjoXOS0Vu73aPuD7WDbIczem-milUYuWcCgucgp0w8MdSMLCN8XfRs3R6HVUzZjUSb1ByL_CC93abntizI)

* When Destination URL is misconfigured in Okta

![](https://lh5.googleusercontent.com/gXlglllhzK6MozelgI9xRoIk10zsFJANlhMzhw9fQZ1gCZkthpsc98VE0_eMZn_GCvCmO9zp3823WfM7rNornZD5vXup4qyXo5KiOKH39GIPOoKUc2fQNtCO8vhkTIDcQ8MPZ-Bf)

* When identity provider Entity ID is misconfigured in the Single Sign-On plan settings

![](https://lh5.googleusercontent.com/QoG-L3OYGhRBJrTaSp1tBd9j8F9KjXxZVoSOoqZ1Ha7fWGoWxcCGdWerfdbchmztP6RQhYR4kpipBruwWiACvM0Y8FUzXBFawowfFEGeEFL1DMVAWVnsGrHMALSbkUSvmEpISYAn)

* When identity provider SSO URL is misconfigured in Single Sign-On plan settings

![](https://lh3.googleusercontent.com/2zRmi2dAzEuZX-yy-Z5QNUT0GY52pcbGydjF3XmXuF9fXTvKevswXgFIWxTzIWlJz3KE51hKLYmVYcy8Of8Rxu62MVUQ-cvRzTVdZIcS6WPTUOvwCefJSQSlN2Ac-7u0AxtZW7bv)
