---
title: Azure Active Directory OIDC Integration Guide Overview
owner: Identity Service
---

This documentation introduces how to set up Azure Active Directory (Azure AD) with Open ID Connect (OIDC) as the identity provider for the Single Sign-On service running on Pivotal Cloud Foundry (PCF).

Azure Active Directory (Azure AD) is Microsoft's multi-tenant cloud-based directory and identity management service.

To set up Azure AD with Security Assertion Markup Language (SAML), see the [Azure Active Directory SAML Integration Guide](../azure/index.html).

## <a id='prereqs'></a>Prerequisites

To integrate Azure AD with Single Sign-On service using OIDC, you need the following:

<strong>Pivotal</strong> 

- PCF 1.12 or later

- Single Sign-On v1.5.0 or later

<strong>Azure AD</strong>

- An active Azure AD tenant

- A user with admin privileges

<p class="note"><strong>Note</strong>: To configure OIDC, you must <%=vars.sso_plan_enabled%></p>

## <a id='azure'></a> Azure AD Integration Guide

### Configuring Azure AD with SSO

Complete the following steps to integrate your deployment with Azure AD and SSO.

1. <a href="config-azure.html" class="subnav">Configure Azure AD as an OIDC Identity Provider</a>

1. <a href="config-sso.html" class="subnav">Configure a Single Sign-On Service Provider</a>

### Testing and Troubleshooting

* <a href="testing.html" class="subnav">Testing</a>

* <a href="troubleshooting.html" class="subnav">Troubleshooting</a>
