---
title: Azure Active Directory OIDC Integration Guide Overview
owner: Identity Service
---

This documentation introduces how to set up Azure Active Directory (Azure AD) with Open ID Connect (OIDC) as the identity provider for the Single Sign-On service running on Pivotal Cloud Foundry (PCF).

Azure Active Directory (Azure AD) is Microsoft's multi-tenant cloud-based directory and identity management service.

To set up Azure AD with Security Assertion Markup Language (SAML), see the [Azure Active Directory SAML Integration Guide](../azure/index.html).

## <a id='prereqs'></a>Prerequisites

To integrate Azure AD with Single Sign-On service using OIDC, you need the following:

**Pivotal**

* PCF, v1.12 or later.
* Single Sign-On, v1.5.0 or later.

**Azure AD**

* An active Azure AD tenant.
* A user with admin privileges.

<p class="note"><strong>Note</strong>: To configure OIDC, you must <%=vars.sso_plan_enabled%></p>

## <a id='azure'></a> Azure AD Integration Guide

### Configuring Azure AD with SSO

To integrate your deployment with Azure AD and SSO, follow the steps in
<a href="config-azure.html">Configure Azure AD as an OIDC Identity Provider</a>.


### Testing and Troubleshooting

* <a href="testing.html">Testing</a>
* <a href="troubleshooting.html">Troubleshooting</a>
